@model cloudscribe.Core.Web.ViewModels.UserAdmin.UserListViewModel

@{

}
<h2>@Model.Heading</h2>
<div class="row">
    <div class="col-lg-6">
        <form class="form-inline" role="form" asp-controller="UserAdmin" asp-action="Search" method="get">
            <div class="input-group">
                <input asp-for="SearchQuery" name="query" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" value="CommonResources.Search" class="btn btn-default">CommonResources.Search</button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-lg-6">
        <form class="form-inline" role="form" asp-controller="UserAdmin" asp-action="IpSearch" method="get">
            <div class="input-group">
                <input asp-for="IpQuery" name="ipquery" class="form-control" />
                <span class="input-group-btn">
                    <button type="submit" value="CommonResources.SearchByIpAddress" class="btn btn-default">CommonResources.SearchByIpAddress</button>
                </span>
            </div>
        </form>
    </div>
</div>
<div class="row">
    @{await Html.RenderPartialAsync("UserListPartial", Model); }
</div>
