@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<a class="btn btn-xs btn-default" asp-action="SearchModal" asp-controller="UserAdmin" bs-modal-link="true">Lookup User</a>

<p>Use this area to provide additional information.</p>
<p>
    Lorem ipsum dolor sit amet, vocent adolescens efficiantur ea mea, paulo deserunt consequat no eam. Cum alia feugiat partiendo te, ei brute commune sit. Nec id dico tollit dolorum, erant fierent efficiendi vel et. Cu vim eligendi perfecto disputationi. Eu suscipit concludaturque ius, modus regione eum ea.
</p><p>
    Cu cibo prima alienum eam, eum ea graece detraxit, harum everti disputando vel in. Debitis atomorum mnesarchum eum te, usu te idque mundi electram. Natum numquam mei ea, no tibique accusamus nam, modus fastidii vituperata sea no. Eam ex homero theophrastus, has ei patrioque forensibus maiestatis.
</p><p>
    Nibh platonem assueverit vix ex, in qui probo volumus. In solet minimum omnesque vis, quaerendum scribentur ad eam. Mel eu dolorum incorrupte. Ex prima elaboraret vix, mea cibo epicurei hendrerit in.
</p><p>
    Nec eros utroque cu, stet assum dicunt mel ei. Novum expetenda persecuti te duo, prima principes appellantur cu sed, fugit aeque eloquentiam mel ei. Novum nostrud perfecto quo no, erat mediocrem imperdiet ius ne. Qui no purto luptatum quaestio, pro te nihil nominavi. Eros solet accumsan an sed.
</p><p>
    Id quas lorem denique eum, commodo platonem gloriatur vim an. Vel no nominati scribentur. Per legere labore electram at, et pri quem exerci officiis. Mentitum molestie id pro, sale percipit vituperata id his. Malis corpora ut eum, liber consequat contentiones vim ea, soleat prompta impedit at qui. Sit velit atomorum senserit cu.
</p><p>
    Qui eu legere aperiri abhorreant. Possit putant iuvaret an vel, purto dicunt aliquam per cu. Et dicunt perfecto nam, te impetus discere propriae cum, ei cum sint detracto singulis. Assum quando sit ea, quodsi antiopam similique an vim.
</p><p>
    Facer vitae denique ei usu. Sonet soleat vivendo quo ex, eu suas magna graeci nam. Ubique iuvaret mei ne, vel an hinc utroque, duo erat ipsum suscipiantur ea. Mei iudicabit voluptatum ex, nec nostro commune noluisse no, id vim impedit docendi.
</p><p>
    Sit in soleat officiis, invidunt concludaturque ei sed. Id has alia elitr possim, te pri atqui dicunt singulis. Ea singulis adipisci per. Eum modo quot ne, eam nobis periculis disputando eu. Nobis ullamcorper definitionem quo in.
</p>
<p>
    Lorem ipsum dolor sit amet, vocent adolescens efficiantur ea mea, paulo deserunt consequat no eam. Cum alia feugiat partiendo te, ei brute commune sit. Nec id dico tollit dolorum, erant fierent efficiendi vel et. Cu vim eligendi perfecto disputationi. Eu suscipit concludaturque ius, modus regione eum ea.
</p><p>
    Cu cibo prima alienum eam, eum ea graece detraxit, harum everti disputando vel in. Debitis atomorum mnesarchum eum te, usu te idque mundi electram. Natum numquam mei ea, no tibique accusamus nam, modus fastidii vituperata sea no. Eam ex homero theophrastus, has ei patrioque forensibus maiestatis.
</p><p>
    Nibh platonem assueverit vix ex, in qui probo volumus. In solet minimum omnesque vis, quaerendum scribentur ad eam. Mel eu dolorum incorrupte. Ex prima elaboraret vix, mea cibo epicurei hendrerit in.
</p><p>
    Nec eros utroque cu, stet assum dicunt mel ei. Novum expetenda persecuti te duo, prima principes appellantur cu sed, fugit aeque eloquentiam mel ei. Novum nostrud perfecto quo no, erat mediocrem imperdiet ius ne. Qui no purto luptatum quaestio, pro te nihil nominavi. Eros solet accumsan an sed.
</p><p>
    Id quas lorem denique eum, commodo platonem gloriatur vim an. Vel no nominati scribentur. Per legere labore electram at, et pri quem exerci officiis. Mentitum molestie id pro, sale percipit vituperata id his. Malis corpora ut eum, liber consequat contentiones vim ea, soleat prompta impedit at qui. Sit velit atomorum senserit cu.
</p><p>
    Qui eu legere aperiri abhorreant. Possit putant iuvaret an vel, purto dicunt aliquam per cu. Et dicunt perfecto nam, te impetus discere propriae cum, ei cum sint detracto singulis. Assum quando sit ea, quodsi antiopam similique an vim.
</p><p>
    Facer vitae denique ei usu. Sonet soleat vivendo quo ex, eu suas magna graeci nam. Ubique iuvaret mei ne, vel an hinc utroque, duo erat ipsum suscipiantur ea. Mei iudicabit voluptatum ex, nec nostro commune noluisse no, id vim impedit docendi.
</p><p>
    Sit in soleat officiis, invidunt concludaturque ei sed. Id has alia elitr possim, te pri atqui dicunt singulis. Ea singulis adipisci per. Eum modo quot ne, eam nobis periculis disputando eu. Nobis ullamcorper definitionem quo in.
</p>

@section Scripts {
    @{await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/cr/js/cloudscribe-modaldialog-bootstrap.min.js"></script>
    <script>

        window.UserSelectedCallback = function (data) {
            if (data) {
                alert(JSON.stringify(data));

            }

        }

        //window.UserSelectedCallback = function (ele) {
        //    if (ele.dataset.userId) {
        //        alert(ele.dataset.userId);

        //    }

        //}

        //function userSelected(ele) {
        //    if (window.UserSelectedCallback) {
        //        window.UserSelectedCallback(ele);
        //    }

        //}
    </script>
}
