@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Idox PLC<br />
    ESDM Division<br />
    Great House Barn, New Street<br />
    Talgarth<br />
    Brecon<br />
    Powys<br />
    LD3 0AH<br />
    <abbr title="Phone">P:</abbr>
    +44 (0) 333 011 1200
</address>

<address>
    <strong>Support:</strong> <a href="mailto:xginfo@idoxgroup.com">xginfo@idoxgroup.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:xginfo@idoxgroup.com">xginfo@idoxgroup.com</a>
</address>
