@using Microsoft.Extensions.Configuration
@inject IConfiguration  config
@{
    ViewData["Title"] = "Map Test";
    var bingMapKey = config["DevOptions:BingMapApiKey"];
    var googleApiKey = config["DevOptions:GoogleApiKey"];
}
@*
    https://developers.google.com/maps/documentation/javascript/geocoding

*@

@section Styles {
    <style>
        #gmap1 {
            height: 600px;
        }
        .bingMap {
            width: 100%;
            height: 400px;
        }
    </style>
}

    <div class="row">
        <div class="col-md-8">
            <div id="bingMap1" class='bingMap'
                 data-bing-map=""
                 data-location-title="My old house"
                 data-address="1003 Allen Ave, Murfreesboro, TN"
                 data-directions-element-id="bingMap1Directions"
                 data-itinerary-element-id="bingMap1Itinerary"
                 data-from-address-element-id="bingMap1FromAddress"
                 data-get-directions-button-id="bingMap1GetDirectionsButton"
                 ></div>
        </div>
        <div class="col-md-4">
            <div id="bingMap1Directions" class="map-directions mt-2 mb-2">
                <div class="form-group">
                    <input id="bingMap1FromAddress" type="text" class="form-control" placeholder="From Address" />
                </div>
                <button id="bingMap1GetDirectionsButton" type="button" class="btn btn-primary">Get Directions</button>
                <a href="@Context.Request.Path">Clear</a>
            </div>
            <div id='bingMap1Itinerary'></div>

        </div>
    </div>

@section Scripts {
    <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&key=@bingMapKey' async defer></script>
    <script src="/cr/js/cloudscribe-unobtrusive-bing-location-map.min.js"></script>
}
