CREATE PROCEDURE [dbo].[mp_GeoZone_DeleteByCountry]

/*
Author:   			Joe Audette
Created: 			2015-01-04
Last Modified: 		2015-01-04
*/

@CountryGuid uniqueidentifier

AS

DELETE FROM [dbo].[mp_GeoZone]
WHERE
	[CountryGuid] = @CountryGuid

GO





CREATE PROCEDURE [dbo].[mp_UserRoles_DeleteUserRolesByRole]

/*
Author:			Joe Audette
Created:		2015-01-02
Last Modified:	2015-01-02

*/
    
@RoleID int

AS

DELETE FROM	[dbo].mp_UserRoles

WHERE	RoleID = @RoleID

GO




