
@{
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_DialogLayout</title>
</head>
<body>
    <div> 
        Dialog
        @RenderBody()
    </div>
</body>
</html>
