<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/cr/css/bootstrap.min.css" />
    @RenderSection("style", required: false)
</head>
<body>
 @RenderBody()
 @RenderSection("scripts", required: false)
</body>
</html>
