<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <environment names="Development">
        <link rel="stylesheet" href="~/cr/css/bootstrap.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/cr/css/bootstrap.min.css" />
    </environment>
    @RenderSection("style", required: false)
</head>
<body>
 @RenderBody()
 @RenderSection("scripts", required: false)
</body>
</html>
