# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

**/wwwroot/css/* linguist-vendored
**/wwwroot/js/* linguist-vendored

**/jquery.js linguist-vendored
**/bootstrap4.bundle.js linguist-vendore
**/jquery.min.js linguist-vendoredd
**/bootstrap4.bundle.min.js linguist-vendored
**/bootstrap4.css linguist-vendored
**/bootstrap4.min.css linguist-vendored
