@model cloudscribe.Core.IdentityServerIntegration.Models.ClientItemViewModel
@using cloudscribe.Core.IdentityServerIntegration
@inject IStringLocalizer<CloudscribeIds4Resources> sr
<form class="form-inline" asp-controller="Clients" asp-action="AddClientCorsOrigin">
    <div class="form-group">
        <label for="Type">@sr["CORS Origin"]</label>
        <input class="form-control" id="CorsOrigin" name="CorsOrigin" data-val="true" data-val-required='@sr["The CORS Origin field is required."]'
               aria-required="true" aria-invalid="false" aria-describedby="CorsOrigin-error" />
        <span class="invalid-feedback field-validation-valid" data-valmsg-for="CorsOrigin" data-valmsg-replace="true"></span>
    </div>
    <input asp-for="SiteId" type="hidden" />
    <input asp-for="ClientId" type="hidden" />
    <button type="submit" class="btn btn-primary">@sr["Add"]</button>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
</form>
