@using cloudscribe.Core.Identity
@using cloudscribe.Web.Common.Extensions

@if (User.Identity.IsAuthenticated)
{
    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <div class="pull-right navbar-text navbar-gravatar">
                    <a asp-controller="Manage" asp-action="Index" title="Manage">
                    <img gravatar-email="@User.GetEmail()" gravatar-size="30" /></a>
                </div>
            </li>
            <li> 
                    <a asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.GetDisplayName()!</a>
            </li> 
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a id="registerLink" asp-controller="Account" asp-action="Register">Register</a></li>
        <li><a id="loginLink" asp-controller="Account" asp-action="Login" asp-route-returnurl="@Context.Request.PathAndQuery()">Log in</a></li>
    </ul>
}
