<?xml version="1.0" encoding="utf-8" ?>
<VersionProviders>
	<providers>
		<add name="cloudscribe-cms"
			 type="cloudscribe.cms.Models.CmsVersionProvider, cloudscribe.cms.Models"
			 description="a provider that returns the current code version of cloudscribe cms" />
	</providers>
</VersionProviders>
