

CREATE TABLE `mp_Pages` (
  `PageID` int(11) NOT NULL auto_increment,
  `ParentID` int(11) NOT NULL default '-1',
  `PageOrder` int(11) NOT NULL default '0',
  `SiteID` int(11) NOT NULL default '1',
  `PageName` varchar(50) NOT NULL default '',
  `PageTitle` varchar(255) default NULL,
  `RequireSSL` tinyint(3) unsigned default '0',
  `AllowBrowserCache` bit(1) NOT NULL,
  `ShowBreadcrumbs` tinyint(3) unsigned default '0',
  `PageKeyWords` varchar(255) default NULL,
  `PageDescription` varchar(255) default NULL,
  `PageEncoding` varchar(255) default NULL,
  `AdditionalMetaTags` varchar(255) default NULL,
  `MenuImage` varchar(50) default NULL,
  `UseUrl` tinyint(3) unsigned NOT NULL default '0',
  `Url` varchar(255) default NULL,
  `OpenInNewWindow` tinyint(3) unsigned NOT NULL default '0',
  `ShowChildPageMenu` tinyint(3) unsigned NOT NULL default '0',
  `AuthorizedRoles` text,
  `EditRoles` text,
  `CreateChildPageRoles` text,
  `ShowChildBreadcrumbs` tinyint(1) unsigned default '0',
  `HideMainMenu` tinyint(1) unsigned default '0',
  `Skin` varchar(100) default NULL,
  `IncludeInMenu` tinyint(1) unsigned default '1',
  `ChangeFrequency` varchar(20) default NULL,
  `SiteMapPriority` varchar(10) default NULL,
  `LastModifiedUTC` datetime default NULL,
  `PageGuid` varchar(36) default NULL,
  `ParentGuid` varchar(36) default NULL,
  `HideAfterLogin` tinyint(1) unsigned default '0',
  `SiteGuid` varchar(36) default NULL,
  `CompiledMeta` text,
  `CompiledMetaUtc` datetime default NULL,
  `IncludeInSiteMap` tinyint(1) unsigned NULL,
 `IsClickable` tinyint(1) unsigned NULL,
 `ShowHomeCrumb` tinyint(1) unsigned NULL,
 `DraftEditRoles` Text NULL,
 `IsPending` tinyint(1) unsigned NOT NULL,
 `CanonicalOverride` VarChar(255) NULL,
 `IncludeInSearchMap` tinyint(1) unsigned NULL,
 `EnableComments` tinyint(1) unsigned NULL,
 `CreateChildDraftRoles` Text NULL,
 `IncludeInChildSiteMap` tinyint(1) unsigned NULL,
 `PubTeamId` varchar(36) NULL,
 `BodyCssClass` VarChar(50) NULL,
 `MenuCssClass` VarChar(50) NULL,
 `ExpandOnSiteMap` tinyint(1) unsigned NULL,
 `PublishMode` int(11) NULL,
 `PCreatedUtc` datetime NOT NULL,
 `PCreatedBy` varchar(36) NULL,
 `PCreatedFromIp` VarChar(36) NULL,
 `PLastModUtc` datetime NOT NULL,
 `PLastModBy` varchar(36) NULL,
 `PLastModFromIp` VarChar(36) NULL,
 `MenuDesc` Text NULL,
 `DraftApprovalRoles` Text NULL,
 `LinkRel` VarChar(20) NULL,
 `PageHeading` VarChar(255) NULL,
 `ShowPageHeading` tinyint(1) unsigned NOT NULL,
 `PubDateUtc` datetime NOT NULL,
  PRIMARY KEY  (`PageID`),
  KEY `FK_mp_PagesSite` (`SiteID`),
  CONSTRAINT `FK_mp_PagesSite` FOREIGN KEY (`SiteID`) REFERENCES `mp_Sites` (`SiteID`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE `mp_ModuleDefinitions` (
  `ModuleDefID` int(11) NOT NULL auto_increment,
  `FeatureName` varchar(255) NOT NULL default '',
  `ControlSrc` varchar(255) NOT NULL default '',
  `SortOrder` int(11) default '500',
  `Icon` varchar(255) NOT NULL default '',
  `IsAdmin` tinyint(3) unsigned default '0',
  `DefaultCacheTime` int(11) NOT NULL default '0',
  `Guid` char(36) NOT NULL,
  `ResourceFile` varchar(255) default NULL,
  `IsCacheable` tinyint(1) unsigned NULL,
 `IsSearchable` tinyint(1) unsigned NULL,
 `SearchListName` VarChar(255) NULL,
 `SupportsPageReuse` tinyint(1) unsigned NULL,
 `DeleteProvider` VarChar(255) NULL,
 `PartialView` VarChar(255) NULL,
  PRIMARY KEY  (`ModuleDefID`),
  KEY `idxModuleDefGuid` (`Guid`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE `mp_ModuleDefinitionSettings` (
  `ID` int(11) NOT NULL auto_increment,
  `ModuleDefID` int(11) NOT NULL default '0',
  `SettingName` varchar(100) NOT NULL default '',
  `SettingValue` varchar(255) NOT NULL default '',
  `ControlType` varchar(255) default NULL,
  `RegexValidationExpression` text,
  `FeatureGuid` char(36) NOT NULL,
  `ResourceFile` varchar(255) default NULL,
  `ControlSrc` varchar(255) default NULL,
  `HelpKey` varchar(255) default NULL,
  `SortOrder` int(11) NOT NULL default '100',
  `GroupName` VarChar(255) NULL,
  PRIMARY KEY  (`ID`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;

CREATE TABLE `mp_Modules` (
  `ModuleID` int(11) NOT NULL auto_increment,
  `ModuleDefID` int(11) NOT NULL default '0',
  `ModuleTitle` varchar(255) default NULL,
  `CacheTime` int(11) NOT NULL default '0',
  `ShowTitle` tinyint(1) unsigned NOT NULL default '1',
  `EditUserID` int(11) NOT NULL default '0',
  `AuthorizedEditRoles` text,
  `SiteID` int(10) unsigned zerofill NOT NULL default '0000000000',
  `AvailableForMyPage` tinyint(1) unsigned default '0',
  `AllowMultipleInstancesOnMyPage` tinyint(1) unsigned default '1',
  `CountOfUseOnMyPage` int(10) unsigned zerofill NOT NULL default '0000000000',
  `Icon` varchar(255) default NULL,
  `CreatedByUserID` int(10) unsigned zerofill NOT NULL default '0000000000',
  `CreatedDate` datetime default NULL,
  `Guid` varchar(36) default NULL,
  `FeatureGuid` varchar(36) default NULL,
  `SiteGuid` varchar(36) default NULL,
  `EditUserGuid` varchar(36) default NULL,
  `HideFromUnAuth` tinyint(3) unsigned NOT NULL default '0',
  `HideFromAuth` tinyint(3) unsigned NOT NULL default '0',
  `ViewRoles` Text NULL,
 `DraftEditRoles` Text NULL,
 `IncludeInSearch` tinyint(1) unsigned NULL,
 `IsGlobal` tinyint(1) unsigned NULL,
 `HeadElement` VarChar(25) NULL,
 `PublishMode` int(11) NULL,
 `DraftApprovalRoles` Text NULL,
  PRIMARY KEY  (`ModuleID`),
  KEY `idxModulesGuid` (`Guid`),
  KEY `idxModulesFGuid` (`FeatureGuid`),
  KEY `idxModulesMDef` (`ModuleDefID`),
  KEY `idxModulesSID` (`SiteID`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE `mp_ModuleSettings` (
  `ID` int(11) NOT NULL auto_increment,
  `ModuleID` int(11) NOT NULL default '0',
  `SettingName` varchar(50) NOT NULL default '',
  `SettingValue` varchar(255) NOT NULL default '',
  `ControlType` varchar(255) default NULL,
  `RegexValidationExpression` text,
  `ModuleGuid` varchar(36) default NULL,
  `SettingGuid` varchar(36) default NULL,
  `ControlSrc` varchar(255) default NULL,
  `HelpKey` varchar(255) default NULL,
  `SortOrder` int(11) NOT NULL default '100',
  PRIMARY KEY  (`ID`),
  KEY `FK_mp_ModuleSettingsModule` (`ModuleID`),
  CONSTRAINT `FK_mp_ModuleSettingsModule` FOREIGN KEY (`ModuleID`) REFERENCES `mp_Modules` (`ModuleID`)
) ENGINE=InnoDB AUTO_INCREMENT=1 DEFAULT CHARSET=utf8;


CREATE TABLE `mp_PageModules` (
  `PageID` int(11) NOT NULL default '0',
  `ModuleID` int(11) NOT NULL default '0',
  `PaneName` varchar(50) NOT NULL default '',
  `ModuleOrder` int(11) NOT NULL default '0',
  `PublishBeginDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `PublishEndDate` datetime default NULL,
  `ModuleGuid` varchar(36) default NULL,
  `PageGuid` varchar(36) default NULL,
  PRIMARY KEY  (`PageID`,`ModuleID`),
  KEY `FK_mp_PageModulesModule` (`ModuleID`),
  CONSTRAINT `FK_mp_PageModulesModule` FOREIGN KEY (`ModuleID`) REFERENCES `mp_Modules` (`ModuleID`),
  CONSTRAINT `FK_mp_PageModulesPages` FOREIGN KEY (`PageID`) REFERENCES `mp_Pages` (`PageID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;




CREATE TABLE `mp_ContentRating` (
  `RowGuid` varchar(36) NOT NULL,
  `SiteGuid` varchar(36) NOT NULL,
  `ContentGuid` varchar(36) NOT NULL,
  `UserGuid` varchar(36) NOT NULL,
  `EmailAddress` varchar(100) default NULL,
  `Rating` int(11) NOT NULL,
  `Comments` text,
  `IpAddress` varchar(50) default NULL,
  `CreatedUtc` datetime NOT NULL,
  `LastModUtc` datetime NOT NULL,
  PRIMARY KEY  (`RowGuid`),
  KEY `idxContentRatingG` (`ContentGuid`),
  KEY `idxContentRatingU` (`UserGuid`),
  KEY `idxContentRatingS` (`SiteGuid`),
  KEY `idxContentRatingI` (`IpAddress`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;


CREATE TABLE `mp_SiteModuleDefinitions` (
  `SiteID` int(11) NOT NULL default '0',
  `ModuleDefID` int(11) NOT NULL default '0',
  `AuthorizedRoles` text,
  `SiteGuid` varchar(36) default NULL,
  `FeatureGuid` varchar(36) default NULL,
  PRIMARY KEY  (`SiteID`,`ModuleDefID`),
  CONSTRAINT `FK_mp_SiteModuleDefinitionsSite` FOREIGN KEY (`SiteID`) REFERENCES `mp_Sites` (`SiteID`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_Category` (
 `Guid` varchar(36) NOT NULL, 
 `ParentGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Category` VarChar(255) NOT NULL,
 `Description` Text NULL,
 `ItemCount` int(11) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_CategoryItem` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `CategoryGuid` varchar(36) NOT NULL,
 `ExtraGuid` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_Comments` (
 `Guid` varchar(36) NOT NULL, 
 `ParentGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `Title` VarChar(255) NULL,
 `UserComment` Text NOT NULL,
 `UserName` VarChar(50) NOT NULL,
 `UserEmail` VarChar(100) NOT NULL,
 `UserUrl` VarChar(255) NULL,
 `UserIp` VarChar(50) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `ModerationStatus` TinyInt NOT NULL,
 `ModeratedBy` varchar(36) NOT NULL,
 `ModerationReason` VarChar(255) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_ContentMeta` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Name` VarChar(255) NOT NULL,
 `Scheme` VarChar(255) NOT NULL,
 `LangCode` VarChar(10) NULL,
 `Dir` VarChar(3) NULL,
 `MetaContent` Text NULL,
 `SortRank` int(11) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_ContentMetaLink` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Rel` VarChar(255) NOT NULL,
 `Href` VarChar(255) NOT NULL,
 `HrefLang` VarChar(10) NULL,
 `Rev` VarChar(50) NULL,
 `Type` VarChar(50) NULL,
 `Media` VarChar(50) NULL,
 `SortRank` int(11) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_Tag` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Tag` VarChar(255) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL,
 `ItemCount` int(11) NOT NULL,
 `VocabularyGuid` varchar(36) NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;

CREATE TABLE `mp_TagItem` (
 `Guid` varchar(36) NOT NULL, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `TagGuid` varchar(36) NOT NULL,
 `ExtraGuid` varchar(36) NOT NULL,
 `TaggedBy` varchar(36) NOT NULL,
PRIMARY KEY (`Guid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8;
