<?xml version="1.0" encoding="utf-8" ?>
<VersionProviders>
	<providers>
		<add name="cloudscribe-core"
			 type="cloudscribe.Core.Models.CloudscribeCoreVersionProvider, cloudscribe.Core.Models"
			 description="a provider that returns the current code version of cloudscribe core" />
	</providers>
</VersionProviders>
