@model cloudscribe.Core.IdentityServerIntegration.Models.ApiEditViewModel
@using cloudscribe.Core.IdentityServerIntegration.Models
@using cloudscribe.Core.IdentityServerIntegration
@inject ICoreThemeHelper themeHelper
@inject IStringLocalizer<CloudscribeIds4Resources> sr
@{
    var themeSettings = themeHelper.GetThemeSettings();
    if (themeSettings.AdminSideNavExpanded) { ViewData["SideNavToggle"] = "show"; }
    ViewData["SideNavVisible"] = true;
}

@if (Model.CurrentApi == null)
{
    <h2>@ViewData["Title"]</h2>
    await Html.RenderPartialAsync("NewApiPartial", Model.NewApi);
}
else
{
    <h2>@ViewData["Title"]</h2>
    await Html.RenderPartialAsync("EditApiResourcePartial", new ApiItemViewModel(Model.SiteId, Model.CurrentApi));
    await Html.RenderPartialAsync("ApiScopesPartial", Model);
    await Html.RenderPartialAsync("ApiClaimsPartial", Model);
    await Html.RenderPartialAsync("ApiSecretsPartial", Model);
}
@section SideNav {
    @{ await Html.RenderPartialAsync("AdminSideNav"); }
}
@section Toolbar{
    @{ await Html.RenderPartialAsync("AdminSideNavToggle"); }
}
@section Scripts {
    @{ await Html.RenderPartialAsync("AdminSideNavScripts"); }
    @{await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
}
