<div class="row">
    <div class="col" style="height: 500px;overflow: scroll;">
        <div id="tree2"></div>
        <script>
        window.onload = function() {
            if (window.jQuery) {
                $.getScript("https://localhost:44399/filemanager/js/cloudscribe-filemanager2.js");
            }
        }
        </script>
    </div>
</div>