@model cloudscribe.Core.IdentityServerIntegration.Models.ScopeEditViewModel
@using cloudscribe.Core.IdentityServerIntegration.Models
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIntegration> sr

@if (Model.CurrentScope == null)
{
    <h2>@sr["New Scope"]</h2>
    await Html.RenderPartialAsync("NewScopePartial", Model.NewScope);
}
else
{
    <h2>@sr["Edit Scope"]</h2>
    await Html.RenderPartialAsync("EditScopePartial", new ScopeItemViewModel(Model.SiteId, Model.CurrentScope));
    await Html.RenderPartialAsync("ScopeClaimsPartial", Model);
    await Html.RenderPartialAsync("ScopeSecretsPartial", Model);
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
