@model cloudscribe.Core.IdentityServerIntegration.Models.ScopeEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using cloudscribe.Web.Pagination
@using Microsoft.Extensions.Localization
@addTagHelper "*, cloudscribe.Web.Pagination"
@inject IStringLocalizer<CloudscribeIntegration> sr

@if (Model.CurrentScope != null && Model.CurrentScope.Claims.Count > 0)
{
    <h3>@sr["Scope Claims"] </h3>
    <ul class="">
    @foreach (var c in Model.CurrentScope.Claims)
    {
        <li>@c.Name - @c.Description</li>
    }
    </ul>
}
