@model cloudscribe.Core.IdentityServerIntegration.Models.ScopeEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using cloudscribe.Web.Pagination
@using Microsoft.Extensions.Localization
@addTagHelper "*, cloudscribe.Web.Pagination"
@inject IStringLocalizer<CloudscribeIntegration> sr

@if (Model.CurrentScope == null && Model.CurrentScope.ScopeSecrets.Count > 0)
{
    <h3>@sr["Scope Secrets"]</h3>
    <ul class="">
        @foreach (var s in Model.CurrentScope.ScopeSecrets)
        {
            <li>@s.Type - @s.Description - @s.Expiration</li>
        }
    </ul>
}
