@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<a class="btn btn-primary btn-lg" href="@Url.Content("~/")"><span aria-hidden="true" class="fa fa-home"></span> @sr["Site Home"]</a>
