@model cloudscribe.Core.Web.ViewModels.UserAdmin.UserListViewModel
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<div id="userLookupModal" class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">@sr["Search Users"]</h2>
        </div>
        <div class="modal-body">
            <div id="usergridcontainer">
                @{await Html.RenderPartialAsync("UserModalGridPartial", Model); }
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">@sr["Close"]</button>
        </div>
    </div>
</div>
<script src="/cr/js/user-lookup-modal-callback.js"></script>
