@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteBasicSettingsViewModel

@{
    
}
<h2>@ViewBag.Title</h2>
@Html.Partial("_BasicSettingsPartial", Model)



@section Scripts {
<script src="~/js/cloudscribe-cascade-unobtrusive.js"></script>
<script src="~/js/ckeditor/ckeditor.js"></script>
<script src="~/js/ckeditor/adapters/jquery.js"></script>
<script src="~/js/cloudscribe-ckeditor-unobtrusive.js"></script>
}
