@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteBasicSettingsViewModel
@{
    
}
@section styles {
    <link rel="stylesheet" href="~/js/lib/font-awesome/css/font-awesome.min.css" />
}

<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        @{await Html.RenderPartialAsync("_BasicSettingsPartial", Model); }
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", "SideNav", NamedNavigationFilters.ParentTree, "SiteAdmin")
    </div>
</div>
@section scripts {
<script src="~/js/app/cloudscribe-cascade-unobtrusive.js"></script>
<script src="~/js/lib/ckeditor/ckeditor.js"></script>
<script src="~/js/lib/ckeditor/adapters/jquery.js"></script>
<script src="~/js/app/cloudscribe-ckeditor-unobtrusive.js"></script>
<script src="~/js/lib/metisMenu/dist/metisMenu.min.js"></script>
<script src="~/js/app/cloudscribe-sidemenu.js"></script>
}
