@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteBasicSettingsViewModel
@{
    
}
@section styles {
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
}

<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        @{await Html.RenderPartialAsync("_BasicSettingsPartial", Model); }
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", "SideNav", NamedNavigationFilters.ParentTree, "SiteAdmin")
    </div>
</div>
@section scripts {

<environment names="Development">
    <script src="~/lib/ckeditor/ckeditor.js"></script>
    <script src="~/lib/ckeditor/adapters/jquery.js"></script>
    <script src="~/jsdev/cloudscribe-ckeditor-unobtrusive.js"></script>
    <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/jsdev/cloudscribe-sidemenu.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/js/ckeditor/ckeditor.js"></script>
    <script src="~/js/ckeditor/adapters/jquery.js"></script>
    <script src="~/js/cloudscribe-ckeditor-unobtrusive.js"></script>
    <script src="~/js/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/js/cloudscribe-sidemenu.js"></script>
</environment>



}
