@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteBasicSettingsViewModel

@{
    
}
<h2>@ViewBag.Title</h2>
@{await Html.RenderPartialAsync("_BasicSettingsPartial", Model); }


@section Scripts {
<script src="~/js/app/cloudscribe-cascade-unobtrusive.js"></script>
<script src="~/js/lib/ckeditor/ckeditor.js"></script>
<script src="~/js/lib/ckeditor/adapters/jquery.js"></script>
<script src="~/js/app/cloudscribe-ckeditor-unobtrusive.js"></script>
}
