@model cloudscribe.Core.IdentityServerIntegration.Models.ClientEditViewModel
@using cloudscribe.Core.IdentityServerIntegration
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeIntegration> sr

@if (Model.CurrentClient == null)
{
    <h2>@sr["New Client"]</h2>
    await Html.RenderPartialAsync("NewClientPartial", Model.NewClient);
}
else
{
    <h2>@sr["Edit Client"]</h2>
    await Html.RenderPartialAsync("EditClientPartial", Model.CurrentClient);
    await Html.RenderPartialAsync("ClientSecretsPartial", Model.CurrentClient);
    await Html.RenderPartialAsync("ClientClaimsPartial", Model.CurrentClient);

}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
