SET TERM ^ ;
CREATE PROCEDURE MP_MODULEDEFINITIONSETTINGS_INS (
    MODULEDEFID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALEXPRESSION Blob sub_type 1,
    FEATUREGUID Char(36),
    RESOURCEFILE Varchar(255),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer )
RETURNS (
    ID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_MODULEDEFINITIONS_INSERT (
    FEATURENAME Varchar(255),
    CONTROLSRC Varchar(255),
    SORTORDER Integer,
    ISADMIN Smallint,
    ICON Varchar(255),
    DEFAULTCACHETIME Integer,
    GUID Char(36),
    RESOURCEFILE Varchar(255) )
RETURNS (
    MODULEDEFID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_MODULESETTINGS_INSERT (
    MODULEID Integer,
    SETTINGNAME Varchar(50),
    SETTINGVALUE Varchar(255),
    CONTROLTYPE Varchar(50),
    REGEXVALIDATIONEXPRESSION Blob sub_type 1,
    SETTINGGUID Char(36),
    MODULEGUID Char(36),
    CONTROLSRC Varchar(255),
    HELPKEY Varchar(255),
    SORTORDER Integer )
RETURNS (
    ID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_MODULES_INSERT (
    SITEID Integer,
    MODULEDEFID Integer,
    MODULETITLE Varchar(255),
    AUTHORIZEDEDITROLES Blob sub_type 1,
    CACHETIME Integer,
    SHOWTITLE Smallint,
    EDITUSERID Integer,
    AVAILABLEFORMYPAGE Smallint,
    ALLOWMULTIPLEINSTANCESONMYPAGE Smallint,
    ICON Varchar(255),
    CREATEDBYUSERID Integer,
    CREATEDDATE Timestamp,
    COUNTOFUSEONMYPAGE Integer,
    GUID Char(36),
    FEATUREGUID Char(36),
    SITEGUID Char(36),
    HIDEFROMAUTH Smallint,
    HIDEFROMUNAUTH Smallint )
RETURNS (
    MODULEID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

SET TERM ^ ;
CREATE PROCEDURE MP_PAGES_INSERT (
    PARENTID Integer,
    PAGEORDER Integer,
    SITEID Integer,
    PAGENAME Varchar(50),
    PAGETITLE Varchar(255),
    AUTHORIZEDROLES Blob sub_type 1,
    EDITROLES Blob sub_type 1,
    CREATECHILDPAGEROLES Blob sub_type 1,
    REQUIRESSL Smallint,
    ALLOWBROWSERCACHE Smallint,
    SHOWBREADCRUMBS Smallint,
    PAGEKEYWORDS Varchar(255),
    PAGEDESCRIPTION Varchar(255),
    PAGEENCODING Varchar(255),
    ADDITIONALMETATAGS Varchar(255),
    MENUIMAGE Varchar(50),
    USEURL Smallint,
    URL Varchar(255),
    OPENINNEWWINDOW Smallint,
    SHOWCHILDPAGEMENU Smallint,
    SHOWCHILDBREADCRUMBS Smallint,
    SKIN Varchar(100),
    HIDEMAINMENU Smallint,
    INCLUDEINMENU Smallint,
    CHANGEFREQUENCY Varchar(50),
    SITEMAPPRIORITY Varchar(50),
    LASTMODIFIEDUTC Timestamp,
    PAGEGUID Char(36),
    PARENTGUID Char(36),
    HIDEAFTERLOGIN Smallint,
    SITEGUID Char(36),
    COMPILEDMETA Blob sub_type 1,
    COMPILEDMETAUTC Timestamp )
RETURNS (
    PAGEID Integer )
AS
BEGIN EXIT; END^
SET TERM ; ^

