
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{ 
    ViewData["BodyClass"] = "account-section access-denied";
}

<h1>@ViewData["Title"]</h1>

<p>
    @sr["Access Denied"]
</p>

