@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["email_confirmed"];
    ViewData["BodyClass"] = "account-section email-confirmed";
}
<h1>@ViewData["Title"]</h1>
<div>
    <p>
        @sr["thank_you_for_confirming_email"] <a asp-controller="Account" asp-action="Login">@sr["please_click_here_to_log_in"]</a>.
    </p>
</div>
