@model string
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = @sr["login_failure"];
    ViewData["BodyClass"] = "account-section external-fail";
}

<hgroup>
    <h1>@ViewData["Title"]</h1>
    <h2 class="text-danger">@sr["unsuccessful_login_with_service"]</h2>
</hgroup>
@if(!string.IsNullOrWhiteSpace(Model))
{
    @Model
}
