@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["forgot_password_confirmation"];
    ViewData["BodyClass"] = "account-section reset-password";
}

<h1>@ViewData["Title"]</h1>
<p>
    @sr["please_check_email_to_reset_password"]
</p>
