@inject IStringLocalizer<CloudscribeCore> sr
@{ 
    ViewData["BodyClass"] = "account-section account-lockout";
}
<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">@sr["this_account_has_been_locked_out_please_try_again_later"]</p>

