@model cloudscribe.Core.Web.ViewModels.SiteUser.PendingNotificationViewModel
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["thanks_for_registering"];
    ViewData["BodyClass"] = "account-section account-pending";
}

<h1>@ViewData["Title"]</h1>

<p>
    @sr["account_approval_pending_message"]
</p>

