@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewBag.Title = sr["reset_password_confirmation"];
    ViewData["BodyClass"] = "account-section reset-password";
}
<h1>@ViewBag.Title.</h1>
<p>
    @sr["your_password_has_been_reset"] <a asp-controller="Account" asp-action="Login">@sr["please_click_here_to_log_in"]</a>.
</p>
