@using cloudscribe.Core.IdentityServerIntegration
@inject IStringLocalizer<CloudscribeIds4Resources> sr

@if (ViewContext.ModelState.IsValid == false)
{
    <div class="alert alert-danger">
        <strong>@sr["Error"]</strong>
        <div asp-validation-summary="All" class="danger"></div>
    </div>
}