@using cloudscribe.Web.Common.Extensions
@{
    var alerts = TempData.GetAlerts();

    foreach (var alert in alerts)
    {
        var dismissableClass = alert.Dismissable ? "alert-dismissable" : null;
        <div class="alert alert-@alert.AlertStyle @dismissableClass">
            @if (alert.Dismissable)
            {
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true" aria-label="CommonResources.Close">&times;</button>
            }
            @Html.Raw(alert.Message)
        </div>
    }
}
