
@{
    bool startingNodeInChildLevel = true;
    bool showStartingNode = false;
    int maxDepth = 1;
}

<h2>@ViewBag.Heading</h2>
@Html.MvcSiteMap().Menu(
Html.MvcSiteMap().SiteMap.FindSiteMapNodeFromKey("CoreData"),
    startingNodeInChildLevel,
    showStartingNode,
    maxDepth,
    new { name = "ChildMenu" }
    )
