@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleViewModel
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<h2>@ViewData["Title"]</h2>
<form asp-controller="RoleAdmin" asp-action="RoleEdit">
    <input asp-for="Id" type="hidden" />
    <input asp-for="SiteId" type="hidden" />
    <input asp-for="NormalizedRoleName" type="hidden" />
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="RoleName" class="col-md-2 control-label">@sr["Role Name"]</label>
            <div class="col-md-10">
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
                @Html.ValidationMessage("roleerror", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button name="submit" type="submit" class="btn btn-default">@sr["Save"]</button>
            </div>
        </div>
    </div>
</form>
