@model cloudscribe.Core.Web.ViewModels.Account.EditUserViewModel
@{

}
<div class="form-group">
    <label asp-for="Email" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="LoginName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LoginName" class="form-control" />
        <span asp-validation-for="LoginName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="DisplayName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="DisplayName" class="form-control" />
        <span asp-validation-for="DisplayName" class="text-danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="FirstName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="FirstName" class="form-control" />
    </div>
</div>
<div class="form-group">
    <label asp-for="LastName" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="LastName" class="form-control" />
    </div>
</div>
    @if (Model.UserId == -1)
    {
<div class="form-group">
    <label asp-for="Password" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span> 
    </div>
</div>
<div class="form-group">
    <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input asp-for="ConfirmPassword" type="password" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span> 
    </div>
</div>
    }
<div class="form-group">
    <label asp-for="DateOfBirth" class="col-md-2 control-label"></label>
    <div class="col-md-10">
        <input value="@(Model.DateOfBirth.HasValue ? Model.DateOfBirth.Value.ToString("d") : string.Empty)" 
               class="form-control" 
               data-cs-datepicker="true"
               data-cs-datepicker-show-time="false"
               data-cs-datepicker-show-time-only="false"
               data-cs-datepicker-show-month-list="true"
               data-cs-datepicker-show-year-list="true"
               data-cs-datepicker-year-range="c-100:c+0"
               data-cs-datepicker-dateformat="@ViewBag.DateFormat"
               data-cs-datepicker-timeformat="@ViewBag.TimeFormat"
               />
        <span asp-validation-for="DateOfBirth" class="text-danger"></span>

    </div>
</div>
