@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Core Data Administration"];
}
 <h2>@ViewData["Title"]</h2>
 @await Component.InvokeAsync("Navigation", new { viewName = "ChildTree", filterName = NamedNavigationFilters.ChildTree, startingNodeKey = "" })
    


