@model cloudscribe.Core.Web.ViewModels.CoreData.CurrencyViewModel
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Edit Currency"];
}
<h2>@ViewData["Title"]</h2>
<form role="form" asp-controller="CoreData" asp-action="CurrencyEdit">
    <div class="form-horizontal">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="hidden" asp-for="CurrencyId" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label">@sr["Title"]</label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span> 
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Code" class="col-md-2 control-label">@sr["Code"]</label>
            <div class="col-md-10">
                <input asp-for="Code" class="form-control" />
                <span asp-validation-for="Code" class="text-danger"></span>  
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <button name="submit" type="submit" class="btn btn-default">@sr["Save"]</button>
            </div>
        </div>
    </div>
</form>
