@inject ISiteContextResolver siteResolver
@inject ICoreThemeHelper themeHelper
@{
    var Tenant = await siteResolver.ResolveSite(Context.Request.Host.Host, Context.Request.Path);
    var themeSettings = themeHelper.GetThemeSettings();
}
@if (Tenant != null && themeSettings.EnableHeaderFooterEditingInSiteSettings)
{
    @if (!string.IsNullOrWhiteSpace(Tenant.HeaderContent))
    {
        <div class="navbar-text w-100 siteheader-content">
            @Html.Raw(Tenant.HeaderContent)
        </div>
    }
}