@model cloudscribe.Core.Web.ViewModels.SiteUser.PendingNotificationViewModel

@{
    ViewData["Title"] = "Thanks for registering!";
}

<h2>@ViewData["Title"]</h2>

<p>
    Sorry for the delay, but this site requires approval of new accounts. An email has been site to the site managers notifying them of your 
    registration request. You should recieve an email notifying you once your account has been approved.
   
</p>

