@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleViewModel

@{
    
}

<h2>@Model.Heading</h2>
<form asp-controller="RoleAdmin" asp-action="RoleEdit">
    <input asp-for="RoleId" type="hidden" />
    <input asp-for="RoleGuid" type="hidden" />
    <input asp-for="SiteId" type="hidden" />
    <input asp-for="SiteGuid" type="hidden" />
    <input asp-for="RoleName" type="hidden" />
    <div class="form-horizontal">
        <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="DisplayName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="DisplayName" class="form-control" />
                <span asp-validation-for="DisplayName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="CommonResources.Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>
