CREATE TABLE [mp_ContentRating](
	[RowGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[Rating] [int] NOT NULL,
	[Comments] [ntext] NULL,
	[IpAddress] [nvarchar](50) NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_mp_ContentRating] PRIMARY KEY 
(
	[RowGuid] 
)
)

GO

CREATE INDEX [IX_mp_ContentRatingContentGuid] ON [mp_ContentRating] 
(
	[ContentGuid] 
)

GO

CREATE INDEX [IX_mp_ContentRatingIPAddr] ON [mp_ContentRating] 
(
	[IpAddress] 
)

GO

CREATE INDEX [IX_mp_ContentRatingSiteGuid] ON [mp_ContentRating] 
(
	[SiteGuid] 
)

GO

CREATE INDEX [IX_mp_ContentRatingUserGuid] ON [mp_ContentRating] 
(
	[UserGuid] 
)

GO

CREATE TABLE [mp_ModuleDefinitions](
	[ModuleDefID] [int] IDENTITY(1,1) NOT NULL,
	[FeatureName] [nvarchar](255) NOT NULL,
	[ControlSrc] [nvarchar](255) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[Icon] [nvarchar](255) NULL,
	[DefaultCacheTime] [int] NOT NULL,
	[Guid] [uniqueidentifier] NOT NULL,
	[ResourceFile] [nvarchar](255) NULL,
	[IsCacheable] [bit] NULL,
	[IsSearchable] [bit] NULL,
	[SearchListName] [nvarchar](255) NULL,
	[SupportsPageReuse] [bit] NULL,
	[DeleteProvider] [nvarchar](255) NULL,
	[PartialView] [nvarchar](255) NULL,
 CONSTRAINT [PK_ModuleDefinitions] PRIMARY KEY 
(
	[ModuleDefID]
)
)

GO

CREATE INDEX [idxModuleDefGuid] ON [mp_ModuleDefinitions] 
(
	[Guid] 
)

GO

CREATE INDEX [IX_mp_ModuleDefinitions] ON [mp_ModuleDefinitions] 
(
	[Guid]
)

GO

CREATE TABLE [mp_ModuleDefinitionSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleDefID] [int] NOT NULL,
	[SettingName] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
	[ControlType] [nvarchar](50) NULL,
	[RegexValidationExpression] [ntext] NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ResourceFile] [nvarchar](255) NULL,
	[ControlSrc] [nvarchar](255) NULL,
	[SortOrder] [int] NOT NULL,
	[HelpKey] [nvarchar](255) NULL,
	[GroupName] [nvarchar](255) NULL,
 CONSTRAINT [PK_mp_ModuleDefinitionSettings_1] PRIMARY KEY 
(
	[ID]
),
 CONSTRAINT [IX_mp_ModuleDefinitionSettings] UNIQUE  
(
	[ModuleDefID],
	[SettingName]
)
)

GO

CREATE TABLE [mp_Modules](
	[ModuleID] [int] IDENTITY(0,1) NOT NULL,
	[SiteID] [int] NULL,
	[ModuleDefID] [int] NOT NULL,
	[ModuleTitle] [nvarchar](255) NULL,
	[AuthorizedEditRoles] [ntext] NULL,
	[CacheTime] [int] NOT NULL,
	[ShowTitle] [bit] NULL,
	[EditUserID] [int] NOT NULL,
	[AvailableForMyPage] [bit] NOT NULL,
	[AllowMultipleInstancesOnMyPage] [bit] NOT NULL,
	[Icon] [nvarchar](255) NULL,
	[CreatedByUserID] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[CountOfUseOnMyPage] [int] NOT NULL,
	[Guid] [uniqueidentifier] NULL,
	[FeatureGuid] [uniqueidentifier] NULL,
	[SiteGuid] [uniqueidentifier] NULL,
	[EditUserGuid] [uniqueidentifier] NULL,
	[HideFromUnAuth] [bit] NOT NULL,
	[HideFromAuth] [bit] NOT NULL,
	[ViewRoles] [ntext]NULL,
	[DraftEditRoles] [ntext] NULL,
	[IncludeInSearch] [bit] NULL,
	[IsGlobal] [bit] NULL,
	[HeadElement] [nvarchar](25) NULL,
	[PublishMode] [int] NULL,
	[DraftApprovalRoles] [ntext] NULL,
 CONSTRAINT [PK_Modules] PRIMARY KEY 
(
	[ModuleID] 
)
)

GO

CREATE INDEX [idxModulesFGuid] ON [mp_Modules] 
(
	[FeatureGuid] 
)

GO

CREATE INDEX [idxModulesGuid] ON [mp_Modules] 
(
	[Guid] 
)

GO

CREATE INDEX [idxModulesMDef] ON [mp_Modules] 
(
	[ModuleDefID] 
)

GO

CREATE INDEX [idxModulesSID] ON [mp_Modules] 
(
	[SiteID] 
)

GO

CREATE TABLE [mp_ModuleSettings](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ModuleID] [int] NOT NULL,
	[SettingName] [nvarchar](50) NOT NULL,
	[SettingValue] [nvarchar](255) NOT NULL,
	[ControlType] [nvarchar](50) NULL,
	[RegexValidationExpression] [ntext] NULL,
	[SettingGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
	[ControlSrc] [nvarchar](255) NULL,
	[SortOrder] [int] NOT NULL,
	[HelpKey] [nvarchar](255) NULL,
 CONSTRAINT [PK_mp_ModuleSettings] PRIMARY KEY 
(
	[ID] 
)
)

GO

CREATE TABLE [mp_PageModules](
	[PageID] [int] NOT NULL,
	[ModuleID] [int] NOT NULL,
	[PaneName] [nvarchar](50) NOT NULL,
	[ModuleOrder] [int] NOT NULL,
	[PublishBeginDate] [datetime] NOT NULL,
	[PublishEndDate] [datetime] NULL,
	[PageGuid] [uniqueidentifier] NULL,
	[ModuleGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_PageModules] PRIMARY KEY 
(
	[PageID],
	[ModuleID] 
)
)

GO

CREATE TABLE [mp_Pages](
	[PageID] [int] IDENTITY(1,1) NOT NULL,
	[ParentID] [int] NULL,
	[PageOrder] [int] NOT NULL,
	[SiteID] [int] NOT NULL,
	[PageName] [nvarchar](255) NULL,
	[PageTitle] [nvarchar](255) NULL,
	[AuthorizedRoles] [ntext] NULL,
	[EditRoles] [ntext] NULL,
	[CreateChildPageRoles] [ntext] NULL,
	[RequireSSL] [bit] NOT NULL,
	[AllowBrowserCache] [bit] NOT NULL,
	[ShowBreadcrumbs] [bit] NOT NULL,
	[PageKeyWords] [nvarchar](255) NULL,
	[PageDescription] [nvarchar](255) NULL,
	[PageEncoding] [nvarchar](255) NULL,
	[AdditionalMetaTags] [nvarchar](255) NULL,
	[MenuImage] [nvarchar](50) NULL,
	[UseUrl] [bit] NOT NULL,
	[Url] [nvarchar](255) NULL,
	[OpenInNewWindow] [bit] NOT NULL,
	[ShowChildPageMenu] [bit] NOT NULL,
	[ShowChildBreadCrumbs] [bit] NOT NULL,
	[Skin] [nvarchar](100) NULL,
	[HideMainMenu] [bit] NOT NULL,
	[IncludeInMenu] [bit] NOT NULL,
	[ChangeFrequency] [nvarchar](20) NULL,
	[SiteMapPriority] [nvarchar](10) NULL,
	[LastModifiedUTC] [datetime] NULL,
	[PageGuid] [uniqueidentifier] NOT NULL,
	[ParentGuid] [uniqueidentifier] NOT NULL,
	[HideAfterLogin] [bit] NOT NULL,
	[SiteGuid] [uniqueidentifier] NULL,
	[CompiledMeta] [ntext] NULL,
	[CompiledMetaUtc] [datetime] NULL,
	[IncludeInSiteMap] [bit] NULL,
	[IsClickable] [bit] NULL,
	[ShowHomeCrumb] [bit] NULL,
	[DraftEditRoles] [ntext] NULL,
	[IsPending] [bit] NOT NULL,
	[CanonicalOverride] [nvarchar](255) NULL,
	[IncludeInSearchMap] [bit] NULL,
	[EnableComments] [bit] NULL,
	[CreateChildDraftRoles] [ntext] NULL,
	[IncludeInChildSiteMap] [bit] NULL,
	[PubTeamId] [uniqueidentifier] NULL,
	[BodyCssClass] [nvarchar](50) NULL,
	[MenuCssClass] [nvarchar](50) NULL,
	[ExpandOnSiteMap] [bit] NULL,
	[PublishMode] [int] NULL,
	[PCreatedUtc] [datetime] NOT NULL,
	[PCreatedBy] [uniqueidentifier] NULL,
	[PCreatedFromIp] [nvarchar](36) NULL,
	[PLastModUtc] [datetime] NOT NULL,
	[PLastModBy] [uniqueidentifier] NULL,
	[PLastModFromIp] [nvarchar](36) NULL,
	[MenuDesc] [ntext] NULL,
	[DraftApprovalRoles] [ntext] NULL,
	[LinkRel] [nvarchar](20) NULL,
	[PageHeading] [nvarchar](255) NULL,
	[ShowPageHeading] [bit] NOT NULL,
	[PubDateUtc] [datetime] NOT NULL,
 CONSTRAINT [PK_Tabs] PRIMARY KEY 
(
	[PageID] 
)
)

GO


CREATE TABLE [mp_SiteModuleDefinitions](
	[SiteID] [int] NOT NULL,
	[ModuleDefID] [int] NOT NULL,
	[AuthorizedRoles] [ntext] NULL,
	[SiteGuid] [uniqueidentifier] NULL,
	[FeatureGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_SiteModuleDefinitions] PRIMARY KEY 
(
	[SiteID],
	[ModuleDefID] 
)
)

GO



ALTER TABLE [mp_ContentRating] ADD  CONSTRAINT [DF_mp_ContentRating_CreatedUtc]  DEFAULT (getdate()) FOR [CreatedUtc]

GO

ALTER TABLE [mp_ContentRating] ADD  CONSTRAINT [DF_mp_ContentRating_LastModUtc]  DEFAULT (getdate()) FOR [LastModUtc]

GO



ALTER TABLE [mp_ModuleDefinitions] ADD  CONSTRAINT [DF_mp_ModuleDefinitions_SortOrder]  DEFAULT ((500)) FOR [SortOrder]

GO

ALTER TABLE [mp_ModuleDefinitions] ADD  CONSTRAINT [DF_mp_ModuleDefinitions_IsAdmin]  DEFAULT ((0)) FOR [IsAdmin]

GO

ALTER TABLE [mp_ModuleDefinitions] ADD  CONSTRAINT [DF_mp_ModuleDefinitions_DefaultCacheTime]  DEFAULT ((0)) FOR [DefaultCacheTime]

GO

ALTER TABLE [mp_ModuleDefinitions] ADD  CONSTRAINT [DF_mp_ModuleDefinitions_Guid]  DEFAULT (newid()) FOR [Guid]

GO

ALTER TABLE [mp_ModuleDefinitionSettings] ADD  DEFAULT ((100)) FOR [SortOrder]

GO

ALTER TABLE [mp_Modules]  ADD  CONSTRAINT [FK_Modules_ModuleDefinitions] FOREIGN KEY([ModuleDefID])
REFERENCES [mp_ModuleDefinitions] ([ModuleDefID])
ON DELETE CASCADE
 
GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_ShowTitle]  DEFAULT ((1)) FOR [ShowTitle]

GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_EditUserID]  DEFAULT ((0)) FOR [EditUserID]

GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_AvailableForMyPage]  DEFAULT ((0)) FOR [AvailableForMyPage]

GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_AllowMultipleInstancesOnMyPage]  DEFAULT ((1)) FOR [AllowMultipleInstancesOnMyPage]

GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_CreatedByUserID]  DEFAULT ((-1)) FOR [CreatedByUserID]

GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]

GO

ALTER TABLE [mp_Modules] ADD  CONSTRAINT [DF_mp_Modules_CountOfUseOnMyPage]  DEFAULT ((0)) FOR [CountOfUseOnMyPage]

GO

ALTER TABLE [mp_Modules] ADD  DEFAULT ((0)) FOR [HideFromUnAuth]

GO

ALTER TABLE [mp_Modules] ADD  DEFAULT ((0)) FOR [HideFromAuth]

GO

ALTER TABLE [mp_ModuleSettings]  ADD  CONSTRAINT [FK_ModuleSettings_Modules] FOREIGN KEY([ModuleID])
REFERENCES [mp_Modules] ([ModuleID])
ON DELETE CASCADE
 
GO

ALTER TABLE [mp_ModuleSettings] ADD  DEFAULT ((100)) FOR [SortOrder]

GO

ALTER TABLE [mp_PageModules]  ADD  CONSTRAINT [FK_mp_PageModules_mp_Modules] FOREIGN KEY([ModuleID])
REFERENCES [mp_Modules] ([ModuleID])

GO

ALTER TABLE [mp_PageModules] ADD  CONSTRAINT [FK_mp_PageModules_mp_PageModules] FOREIGN KEY([PageID])
REFERENCES [mp_Pages] ([PageID])

GO

ALTER TABLE [mp_PageModules] ADD  CONSTRAINT [DF_mp_PageModules_ModuleOrder]  DEFAULT ((3)) FOR [ModuleOrder]

GO

ALTER TABLE [mp_PageModules] ADD  CONSTRAINT [DF_mp_PageModules_PublishBeginDate]  DEFAULT (getdate()) FOR [PublishBeginDate]

GO

ALTER TABLE [mp_Pages]  ADD  CONSTRAINT [FK_Tabs_Portals] FOREIGN KEY([SiteID])
REFERENCES [mp_Sites] ([SiteID])
ON DELETE CASCADE
 
GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_ParentID]  DEFAULT ((-1)) FOR [ParentID]
GO


ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_RequireSSL]  DEFAULT ((0)) FOR [RequireSSL]
GO


ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_AllowBrowserCache]  DEFAULT ((1)) FOR [AllowBrowserCache]

GO


ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_ShowBreadcrumbs]  DEFAULT ((0)) FOR [ShowBreadcrumbs]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_UseLinkInsteadOfPage]  DEFAULT ((0)) FOR [UseUrl]

GO


ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_OpenInNewWindow]  DEFAULT ((0)) FOR [OpenInNewWindow]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_ShowChildPageMenu]  DEFAULT ((0)) FOR [ShowChildPageMenu]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_ShowChildBreadCrumbs]  DEFAULT ((0)) FOR [ShowChildBreadCrumbs]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_HideMainMenu]  DEFAULT ((0)) FOR [HideMainMenu]

GO


ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_IncludeInMenu]  DEFAULT ((1)) FOR [IncludeInMenu]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_PageGuid]  DEFAULT (newid()) FOR [PageGuid]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_ParentGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ParentGuid]

GO

ALTER TABLE [mp_Pages] ADD  CONSTRAINT [DF_mp_Pages_HideAfterLogin]  DEFAULT ((0)) FOR [HideAfterLogin]

GO

ALTER TABLE [mp_Pages] ADD  DEFAULT ((0)) FOR [IsPending]

GO


CREATE TABLE [mp_Category](
	[Guid] [uniqueidentifier] NOT NULL,
	[ParentGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Category] [nvarchar](255) NOT NULL,
	[Description] [ntext] NULL,
	[ItemCount] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedUtc] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_Category] PRIMARY KEY  
(
	[Guid] 
)
) 

GO

ALTER TABLE [mp_Category] ADD  CONSTRAINT [DF_mp_Category_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [mp_Category] ADD  CONSTRAINT [DF_mp_Category_ItemCount]  DEFAULT ((0)) FOR [ItemCount]
GO

ALTER TABLE [mp_Category] ADD  CONSTRAINT [DF_mp_Category_CreatedUtc]  DEFAULT (getdate()) FOR [CreatedUtc]
GO

ALTER TABLE [mp_Category] ADD  CONSTRAINT [DF_mp_Category_ModifiedUtc]  DEFAULT (getdate()) FOR [ModifiedUtc]
GO

CREATE TABLE [mp_CategoryItem](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ItemGuid] [uniqueidentifier] NOT NULL,
	[CategoryGuid] [uniqueidentifier] NOT NULL,
	[ExtraGuid] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_CategoryItem] PRIMARY KEY  
(
	[Guid] 
)
) 

GO

ALTER TABLE [mp_CategoryItem] ADD  CONSTRAINT [DF_mp_CategoryItem_Guid]  DEFAULT (newid()) FOR [Guid]
GO

CREATE TABLE [mp_Comments](
	[Guid] [uniqueidentifier] NOT NULL,
	[ParentGuid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[UserGuid] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](255) NULL,
	[UserComment] [ntext] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[UserEmail] [nvarchar](100) NOT NULL,
	[UserUrl] [nvarchar](255) NULL,
	[UserIp] [nvarchar](50) NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[ModerationStatus] [tinyint] NOT NULL,
	[ModeratedBy] [uniqueidentifier] NOT NULL,
	[ModerationReason] [nvarchar](255) NULL,
 CONSTRAINT [PK_mp_Comments] PRIMARY KEY  
(
	[Guid] 
)
) 

GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_ParentGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ParentGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_FeatureGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [FeatureGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_ModuleGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ModuleGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_UserGuid]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [UserGuid]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_CreatedUtc]  DEFAULT (getdate()) FOR [CreatedUtc]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_mp_Comments_LastModUtc]  DEFAULT (getdate()) FOR [LastModUtc]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_Table_1_Approved]  DEFAULT ((1)) FOR [ModerationStatus]
GO

ALTER TABLE [mp_Comments] ADD  CONSTRAINT [DF_Table_1_ApprvedBy]  DEFAULT ('00000000-0000-0000-0000-000000000000') FOR [ModeratedBy]
GO

CREATE TABLE [mp_ContentMeta](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Scheme] [nvarchar](255) NOT NULL,
	[LangCode] [nvarchar](10) NULL,
	[Dir] [nvarchar](3) NULL,
	[MetaContent] [ntext] NULL,
	[SortRank] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentMeta] PRIMARY KEY  
(
	[Guid] 
)
) 

GO

CREATE TABLE [mp_ContentMetaLink](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ContentGuid] [uniqueidentifier] NOT NULL,
	[Rel] [nvarchar](255) NOT NULL,
	[Href] [nvarchar](255) NOT NULL,
	[HrefLang] [nvarchar](10) NULL,
	[Rev] [nvarchar](50) NULL,
	[Type] [nvarchar](50) NULL,
	[Media] [nvarchar](50) NULL,
	[SortRank] [int] NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[LastModUtc] [datetime] NOT NULL,
	[LastModBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_ContentMetaLink] PRIMARY KEY  
(
	[Guid] 
)
) 

GO

CREATE TABLE [mp_Tag](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[Tag] [nvarchar](255) NOT NULL,
	[CreatedUtc] [datetime] NOT NULL,
	[CreatedBy] [uniqueidentifier] NOT NULL,
	[ModifiedUtc] [datetime] NOT NULL,
	[ModifiedBy] [uniqueidentifier] NOT NULL,
	[ItemCount] [int] NOT NULL,
	[VocabularyGuid] [uniqueidentifier] NULL,
 CONSTRAINT [PK_mp_Tag] PRIMARY KEY  
(
	[Guid] 
)
) 

GO

ALTER TABLE [mp_Tag] ADD  CONSTRAINT [DF_mp_Tag_Guid]  DEFAULT (newid()) FOR [Guid]
GO

ALTER TABLE [mp_Tag] ADD  CONSTRAINT [DF_mp_Tag_CreatedUtc]  DEFAULT (getdate()) FOR [CreatedUtc]
GO

ALTER TABLE [mp_Tag] ADD  CONSTRAINT [DF_mp_Tag_ItemCount]  DEFAULT ((0)) FOR [ItemCount]
GO

CREATE TABLE [mp_TagItem](
	[Guid] [uniqueidentifier] NOT NULL,
	[SiteGuid] [uniqueidentifier] NOT NULL,
	[FeatureGuid] [uniqueidentifier] NOT NULL,
	[ModuleGuid] [uniqueidentifier] NOT NULL,
	[ItemGuid] [uniqueidentifier] NOT NULL,
	[TagGuid] [uniqueidentifier] NOT NULL,
	[ExtraGuid] [uniqueidentifier] NOT NULL,
	[TaggedBy] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_mp_TagItem] PRIMARY KEY  
(
	[Guid] 
)
)

GO

ALTER TABLE [mp_TagItem] ADD  CONSTRAINT [DF_mp_TagItem_Guid]  DEFAULT (newid()) FOR [Guid]
GO

