@using Microsoft.AspNetCore.Http.Features
@inject IStringLocalizer<CloudscribeCore> sr
@inject ISiteContextResolver siteResolver
@{
    var consentFeature = Context.Features.Get<ITrackingConsentFeature>();
    var showBanner = !consentFeature?.CanTrack ?? false;
    var cookieString = consentFeature?.CreateConsentCookie();
    var policySummary = sr["To ensure you get the best experience, this website uses cookies."];
    var tenant = await siteResolver.ResolveSite(Context.Request.Host.Host, Context.Request.Path);
    if(tenant != null && !string.IsNullOrWhiteSpace(tenant.CookiePolicySummary))
    {
        policySummary = sr[tenant.CookiePolicySummary];
    }
}
@if (showBanner)
{
    <div id="cookieConsent" class="alert alert-warning mt-2" style="min-height:65px;margin-top:5px;" role="alert">
        <p class="pull-left">
            <span class="pull-left mr-2" style="margin-right:5px;"><i class="glyphicon glyphicon-info-sign fas fa-info-circle fa-2x" aria-hidden="true"></i></span>
            <span style="font-size:18px;">@policySummary</span> 
        </p>
        <div class="pull-left">
            <a asp-controller="Privacy" asp-action="Index" class="btn btn-info  ml-2 mb-1" style="margin-left:3px;margin-bottom:2px;">@sr["Learn More"]</a>
            <button type="button" class="btn btn-primary ml-2 mb-1" style="margin-left:3px;margin-bottom:2px;" data-cookie-string="@cookieString">Accept</button>
        </div>
    </div>
    <script src="~/cr/js/cloudscribe-cookie-consent-click-handler.js"></script>
}