@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewBag.Title = sr["Reset password confirmation"];
}
<h1>@ViewBag.Title.</h1>
<p>
    @sr["Your password has been reset."] <a asp-controller="Account" asp-action="Login">@sr["Please Click here to log in"]</a>.
</p>
