@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Forgot Password Confirmation"];
    ViewData["BodyClass"] = "account-section reset-password";
}

<h2>@ViewData["Title"]</h2>
<p>
    @sr["Please check your email to reset your password."]
</p>
