@inject IStringLocalizer<CloudscribeCore> sr
@{ 
    ViewData["BodyClass"] = "account-section account-lockout";
}
<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">@sr["This account has been locked out, please try again later."]</p>

