@model cloudscribe.Core.Web.ViewModels.SiteUser.LoginWithRecoveryCodeViewModel
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["BodyClass"] = "account-section login2fa-recovery";
}
<h2>@ViewData["Title"]</h2>
<hr />
<p>
    @sr["You have requested to login with a recovery code. This login will not be remembered until you provide an authenticator app code at login or disable 2FA and login again."]
</p>
<form method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="RecoveryCode"></label>
        <input asp-for="RecoveryCode" class="form-control" autocomplete="off" />
        <span asp-validation-for="RecoveryCode" class="invalid-feedback"></span>
    </div>
    <button type="submit" class="btn btn-primary">@sr["Log in"]</button>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
    <script src="~/cr/js/unobtrusive-validation-bs4.min.js"></script>
}