@model cloudscribe.Core.Identity.IdentityServerLogoutViewModel
@using cloudscribe.Core.IdentityServerIntegration
@inject IStringLocalizer<CloudscribeIds4Resources> sr
<div class="logout-page">
    <div class="page-header">
        <h1>@sr["Logout"]</h1>
    </div>
    <p>@sr["Would you like to logout of IdentityServer?"]</p>
    <form asp-action="Logout">
        <input type="hidden" name="logoutId" value="@Model.LogoutId" />
        <fieldset>
            <div class="form-group">
                <button class="btn btn-primary">@sr["Yes"]</button>
            </div>
        </fieldset>
    </form>
            
</div>
