<?xml version="1.0" encoding="utf-8" ?>
<log4net debug="false">
  <!--
    
    <appender name="HttpTraceAppender" type="log4net.Appender.AspNetTraceAppender" >
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{url}] - %message%newline" />
      </layout>
    </appender>
    -->
  <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="files/currentlog.config" />
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <appendToFile value="true" />
    <encoding value="utf-8" />
    <maxSizeRollBackups value="0" />
    <maximumFileSize value="800KB" />
    <rollingStyle value="Size" />
    <staticLogFileName value="true" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %P{ip} - %P{culture} - %P{url} - %logger - %message %newline" />
    </layout>
  </appender>
  <!--
  <appender name="mojoSystemLogAppender" type="mojoPortal.Web.Logging.SystemLogAppender, mojoPortal.Web">
    <bufferSize value="1" />
    <lossy value="false" />
  </appender>
  -->
  
  <root>
    <level value="INFO" />
    <!--
		ALL 
		DEBUG 
		INFO
		WARN
		ERROR
		FATAL
		OFF
		
		-->

    <!-- if you don't have a writable file system, you should comment this out and use mojoSystemLogAppender -->
    <appender-ref ref="RollingLogFileAppender" />
    
    <!-- to use database logging, uncomment this and add <add key="UseSystemLogInsteadOfFileLog" value="true" /> to user.config  -->
    <!--
    <appender-ref ref="mojoSystemLogAppender" />
    -->
   

    <!-- 
      <appender-ref ref="HttpTraceAppender" />
		<appender-ref ref="RollingLogFileAppender" /> 
		<appender-ref ref="LogFileAppender" />
		-->
  </root>

  <!--
	
	[SQL]
CREATE TABLE [dbo].[Log] ( 
  [ID] [int] IDENTITY (1, 1) NOT NULL ,
  [Date] [datetime] NOT NULL ,
  [Thread] [varchar] (255) NOT NULL ,
  [Level] [varchar] (20) NOT NULL ,
  [Logger] [varchar] (255) NOT NULL ,
  [Message] [varchar] (4000) NOT NULL 
) ON [PRIMARY]

<appender name="AdoNetAppender_SqlServer" type="log4net.Appender.AdoNetAppender">
  <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  <connectionString value="data source=SQLSVR;initial catalog=test_log4net;integrated security=false;persist security info=True;User ID=sa;Password=sa" />
  <commandText value="INSERT INTO Log ([Date],[Thread],[Level],[Logger],[Message]) VALUES (@log_date, @thread, @log_level, @logger, @message)" />
  <parameter>
    <parameterName value="@log_date" />
    <dbType value="DateTime" />
    <layout type="log4net.Layout.PatternLayout" value="%date{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff}" />
  </parameter>
  <parameter>
    <parameterName value="@thread" />
    <dbType value="String" />
    <size value="255" />
    <layout type="log4net.Layout.PatternLayout" value="%thread" />
  </parameter>
  <parameter>
    <parameterName value="@log_level" />
    <dbType value="String" />
    <size value="50" />
    <layout type="log4net.Layout.PatternLayout" value="%level" />
  </parameter>
  <parameter>
    <parameterName value="@logger" />
    <dbType value="String" />
    <size value="255" />
    <layout type="log4net.Layout.PatternLayout" value="%logger" />
  </parameter>
  <parameter>
    <parameterName value="@message" />
    <dbType value="String" />
    <size value="4000" />
    <layout type="log4net.Layout.PatternLayout" value="%message" />
  </parameter>
</appender>
	
	
	
	-->


  <!-- 
  http://logging.apache.org/log4net/release/config-examples.html
  
  Documentation for smtp appender:
  http://logging.apache.org/log4net/release/sdk/log4net.Appender.SmtpAppender.html
  
  The following example shows how to configure the SmtpAppender  to deliver log events via SMTP email. 
  The To, From, Subject and SmtpHost are required parameters. This example shows how to deliver only significant events. 
  A LevelEvaluator  is specified with a threshold of WARN. This means that an email will be sent for each WARN or higher 
  level message that is logged. Each email will also contain up to 512 (BufferSize) previous messages of any level to provide 
  context. Messages not sent will be discarded.
  -->
  <!-- 
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="to@domain.com" />
    <from value="from@domain.com" />
    <subject value="test logging message" />
    <Username value="" />
    <Password value="" />
    <smtpHost value="SMTPServer.domain.com" />
    <Port value="" />
    <bufferSize value="512" />
    <lossy value="true" />
    <evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
    </evaluator>
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
</appender>
  
  -->

  <!-- 
  This example shows how to configure the SmtpAppender  to deliver all messages in emails 
  with 512 (BufferSize) messages per email.
  -->
  <!-- 
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender">
    <to value="to@domain.com" />
    <from value="from@domain.com" />
    <subject value="test logging message" />
    <smtpHost value="SMTPServer.domain.com" />
    <bufferSize value="512" />
    <lossy value="false" />
    <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline" />
    </layout>
</appender>
  
  -->

  <!-- 
  This example shows a more verbose formatting layout for the mail messages.
  -->
  <!--
  <appender name="SmtpAppender" type="log4net.Appender.SmtpAppender,log4net">
    <to value="to@domain.com" />
    <from value="from@domain.com" />
    <subject value="test logging message" />
    <smtpHost value="SMTPServer.domain.com" />
    <bufferSize value="512" />
    <lossy value="false" />
    <evaluator type="log4net.Core.LevelEvaluator,log4net">
        <threshold value="WARN" />
    </evaluator>
    <layout type="log4net.Layout.PatternLayout,log4net">
        <conversionPattern value="%property{log4net:HostName} :: %level :: %message %newlineLogger: %logger%newlineThread: %thread%newlineDate: %date%newlineNDC: %property{NDC}%newline%newline" />
    </layout>
</appender>
  
  -->


</log4net>
