<?xml version="1.0" encoding="utf-8" ?>
<VersionProviders>
	<providers>
		<add name="cloudscribe-setup"
			 type="cloudscribe.Setup.Web.SetupVersionProvider, cloudscribe.Setup.Web"
			 description="a provider that returns the current code version of cloudscribe setup system" />
	</providers>
</VersionProviders>
