<?xml version="1.0" encoding="utf-8" ?>
<VersionProviders>
	<providers>
		<add name="cloudscribe-logging"
			 type="cloudscribe.Logging.Web.CloudscribeLoggingVersionProvider, cloudscribe.Logging.Web"
			 description="a provider that returns the current code version of cloudscribe database logging system" />
	</providers>
</VersionProviders>
