@model cloudscribe.Core.Web.ViewModels.Email.PasswordResetEmailViewModel 

@{
    Layout = "_LayoutEmailNotification";
    ViewData["Title"] = "Set Your Password";
    ViewData["Site"] = Model.Tenant;
}

A new account has been created for you at @Model.Tenant.SiteName. <br /> 
If you did not request this, you can ignore this message, otherwise please <a href="@Model.ResetUrl">click this temporary link to supply a password for your account</a>.
