@model cloudscribe.Core.Web.ViewModels.Email.PasswordResetEmailViewModel 

@{
    Layout = "_LayoutEmailNotification";
    ViewData["Title"] = "Password Reset";
    ViewData["Site"] = Model.Tenant;
}

A password reset has been requested for your account at @Model.Tenant.SiteName.<br /> 
If you did not request a password reset, you can ignore this message, otherwise please <a href="@Model.ResetUrl">click this temporary link to reset your password</a>.
