@model cloudscribe.Core.IdentityServerIntegration.Models.NewIdentityClaimViewModel
@using cloudscribe.Core.IdentityServerIntegration
@inject IStringLocalizer<CloudscribeIds4Resources> sr
<form class="form-inline" asp-controller="IdentityResource" asp-action="AddClaim">
    <div class="form-group">
        <label asp-for="ClaimName">@sr["Name"]</label>
        <input class="form-control" asp-for="ClaimName">
        <span asp-validation-for="ClaimName" class="invalid-feedback"></span>
    </div>
    <input asp-for="SiteId" type="hidden" />
    <input asp-for="ResourceName" type="hidden" />
    <button type="submit" class="btn btn-primary">@sr["Add Claim"]</button>
    @*<div asp-validation-summary="All" class="text-danger"></div>*@
</form>
