@model cloudscribe.Core.Web.ViewModels.SiteSettings.SecuritySettingsViewModel


@{

}
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        <form method="post" class="form-horizontal" role="form" asp-antiforgery="true">
            <div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>
            <input asp-for="SiteId" type="hidden" />
            <input asp-for="SiteGuid" type="hidden" />
            
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="UseEmailForLogin" /> Use Email For Login
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowNewRegistration" /> Allow New Registrations
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RequireConfirmedEmail" /> Require Confirmed Email
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RequireConfirmedPhone" /> Require Confirmed Phone - if you check this, you need to configure SMS Settings
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="RequireApprovalBeforeLogin" /> Require Approval Before Login
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                
                <div class="col-md-12">
                    <label asp-for="AccountApprovalEmailCsv" class="control-label"></label>
                    <input asp-for="AccountApprovalEmailCsv" class="form-control" />
                    <span asp-validation-for="AccountApprovalEmailCsv" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="AllowPersistentLogin" /> Allow Persistent Login
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="DisableDbAuth" /> Only Use Social Authentication
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <div class="checkbox">
                        <label>
                            <input asp-for="ReallyDeleteUsers" /> Really Delete Users
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", "SideNav", NamedNavigationFilters.ParentTree, "SiteAdmin")
    </div>
</div>
@section Scripts {
    <environment names="Development">
        <script src="~/lib/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/jsdev/cloudscribe-sidemenu.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/metisMenu/dist/metisMenu.min.js"></script>
        <script src="~/js/cloudscribe-sidemenu.js"></script>
    </environment>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
