
CREATE TABLE `mp_ModuleDefinitions` (
  `ModuleDefID` INTEGER PRIMARY KEY,
  `Guid` char(36) NOT NULL,
  `FeatureName` varchar(255) NOT NULL default '',
  `ControlSrc` varchar(255) NOT NULL default '',
  `SortOrder` INTEGER default '500',
  `DefaultCacheTime` INTEGER NOT NULL default '0',
  `Icon` varchar(255) NOT NULL default '',
  `IsAdmin` INTEGER default '0', 
  `ResourceFile` VARCHAR(255),
  `IsCacheable` INTEGER NULL,
 `IsSearchable` INTEGER NULL,
 `SearchListName` varchar(255) NULL,
 `SupportsPageReuse` INTEGER NULL,
 `DeleteProvider` varchar(255) NULL,
 `PartialView` varchar(255) NULL
);


CREATE TABLE `mp_ModuleDefinitionSettings` (
  `ID` INTEGER PRIMARY KEY,
  `ModuleDefID` INTEGER NOT NULL default '0',
  `FeatureGuid` char(36) NOT NULL,
  `ResourceFile` varchar(255) NULL,
  `SettingName` varchar(100) NOT NULL default '',
  `SettingValue` varchar(255) NOT NULL default '',
  `ControlType` varchar(255) default NULL,
  `RegexValidationExpression` text, 
  ControlSrc VARCHAR(255), 
  HelpKey VARCHAR(255), 
  SortOrder INTEGER NOT NULL default '100',
  `GroupName` varchar(255) NULL
  );


CREATE TABLE `mp_Modules` (
  `ModuleID` INTEGER PRIMARY KEY,
  `SiteID` INTEGER NOT NULL default '0',
  `ModuleDefID` INTEGER NOT NULL default '0',
  `ModuleTitle` varchar(255) default NULL,
  `CacheTime` INTEGER NOT NULL default '0',
  `ShowTitle` INTEGER NOT NULL default '1',
  `EditUserID` INTEGER default NULL,
  `AuthorizedEditRoles` text,
  `AvailableForMyPage` INTEGER NOT NULL default'0',
  `AllowMultipleInstancesOnMyPage` INTEGER NOT NULL default'1',
  `CountOfUseOnMyPage` INTEGER NOT NULL default '0',
  `Icon` varchar(255) NOT NULL default '',
  `CreatedByUserID` INTEGER NOT NULL default '0',
  `CreatedDate` datetime default NULL , 
  Guid VARCHAR(36), 
FeatureGuid VARCHAR(36), 
SiteGuid VARCHAR(36), 
EditUserGuid VARCHAR(36), 
`HideFromAuth` INTEGER default '0', 
`HideFromUnAuth` INTEGER default '0',
`ViewRoles` varchar(-1) NULL,
 `DraftEditRoles` varchar(-1) NULL,
 `IncludeInSearch` INTEGER default '1',
 `IsGlobal` INTEGER default '0',
 `HeadElement` varchar(25) NULL,
 `PublishMode` INTEGER default '0',
 `DraftApprovalRoles` text NULL
);


CREATE TABLE `mp_ModuleSettings` (
  `ID` INTEGER PRIMARY KEY,
  `ModuleID` INTEGER NOT NULL default '0',
  `SettingName` varchar(50) NOT NULL default '',
  `SettingValue` varchar(255) NOT NULL default '',
  `ControlType` varchar(255) default NULL,
  `RegexValidationExpression` text
  , ModuleGuid VARCHAR(36), 
  SettingGuid VARCHAR(36), 
  ControlSrc VARCHAR(255), 
  HelpKey VARCHAR(255), 
  SortOrder INTEGER NOT NULL default '100'
  );
  

CREATE TABLE `mp_PageModules` (
 `RowID` INTEGER NOT NULL PRIMARY KEY,
  `PageID` INTEGER NOT NULL ,
  `ModuleID` INTEGER NOT NULL ,
  `PaneName` varchar(50) NOT NULL default '',
  `ModuleOrder` INTEGER NOT NULL default '0',
  `PublishBeginDate` datetime NOT NULL default '0000-00-00 00:00:00',
  `PublishEndDate` datetime default NULL, 
  ModuleGuid VARCHAR(36), 
PageGuid VARCHAR(36)
);


CREATE TABLE `mp_Pages` (
  `PageID` INTEGER PRIMARY KEY,
  `ParentID` INTEGER NOT NULL default '-1',
  `PageOrder` INTEGER NOT NULL default '0',
  `SiteID` INTEGER NOT NULL default '1',
  `PageName` varchar(50) NOT NULL default '',
  `PageTitle` varchar(255) NULL ,
  `RequireSSL` INTEGER default '0',
  `AllowBrowserCache` INTEGER default '1',
  `ShowBreadcrumbs` INTEGER default '0',
  `PageKeyWords` varchar(255) default NULL,
  `PageDescription` varchar(255) default NULL,
  `PageEncoding` varchar(255) default NULL,
  `AdditionalMetaTags` varchar(255) default NULL,
  `MenuImage` varchar(50) default NULL,
  `UseUrl` INTEGER NOT NULL default '0',
  `Url` varchar(255) default NULL,
  `OpenInNewWindow` INTEGER NOT NULL default '0',
  `ShowChildPageMenu` INTEGER NOT NULL default '0',
  `AuthorizedRoles` text,
  `EditRoles` text,
  `CreateChildPageRoles` text,
  `ShowChildBreadCrumbs` INTEGER default '0',
  `HideMainMenu` INTEGER default '0',
  `Skin` varchar(100) default NULL,
  `IncludeInMenu` INTEGER NOT NULL default '1'
, `ChangeFrequency` VARCHAR(20), 
`SiteMapPriority` VARCHAR(10), 
`LastModifiedUTC` datetime, 
`PageGuid` VARCHAR(36), 
`ParentGuid` VARCHAR(36), 
`HideAfterLogin` INTEGER default '0', 
SiteGuid VARCHAR(36), 
CompiledMeta text, 
CompiledMetaUtc datetime,
`IncludeInSiteMap` INTEGER NULL,
 `IsClickable` INTEGER NULL,
 `ShowHomeCrumb` INTEGER NULL,
 `DraftEditRoles` test NULL,
 `IsPending` INTEGER NOT NULL,
 `CanonicalOverride` varchar(255) NULL,
 `IncludeInSearchMap` INTEGER NULL,
 `EnableComments` INTEGER NULL,
 `CreateChildDraftRoles` text NULL,
 `IncludeInChildSiteMap` INTEGER NULL,
 `PubTeamId` varchar(36) NULL,
 `BodyCssClass` varchar(50) NULL,
 `MenuCssClass` varchar(50) NULL,
 `ExpandOnSiteMap` INTEGER NULL,
 `PublishMode` INTEGER NULL,
 `PCreatedUtc` datetime NOT NULL,
 `PCreatedBy` varchar(36) NULL,
 `PCreatedFromIp` varchar(36) NULL,
 `PLastModUtc` datetime NOT NULL,
 `PLastModBy` varchar(36) NULL,
 `PLastModFromIp` varchar(36) NULL,
 `MenuDesc` text NULL,
 `DraftApprovalRoles` text NULL,
 `LinkRel` varchar(20) NULL,
 `PageHeading` varchar(255) NULL,
 `ShowPageHeading` INTEGER NOT NULL,
 `PubDateUtc` datetime NOT NULL
);


CREATE TABLE `mp_SiteModuleDefinitions` (
  `SiteID` INTEGER NOT NULL default '0',
  `ModuleDefID` INTEGER NOT NULL default '0',
  `AuthorizedRoles` text, 
  SiteGuid VARCHAR(36), 
FeatureGuid VARCHAR(36)
);



CREATE TABLE `mp_ContentRating` (
 `RowGuid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `EmailAddress` varchar(100) NULL,
 `Rating` INTEGER NOT NULL,
 `Comments` text NULL,
 `IpAddress` varchar(50) NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL
);




CREATE INDEX idxContentRatingG ON mp_ContentRating(`ContentGuid`);
CREATE INDEX idxContentRatingU ON mp_ContentRating(`UserGuid`);
CREATE INDEX idxContentRatingS ON mp_ContentRating(`SiteGuid`);
CREATE INDEX idxContentRatingI ON mp_ContentRating(`IpAddress`);

CREATE TABLE `mp_Category` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `ParentGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Category` varchar(255) NOT NULL,
 `Description` text NULL,
 `ItemCount` INTEGER NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL
);

CREATE TABLE `mp_CategoryItem` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `CategoryGuid` varchar(36) NOT NULL,
 `ExtraGuid` varchar(36) NOT NULL
);

CREATE TABLE `mp_Comments` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `ParentGuid` varchar(36) NOT NULL,
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `UserGuid` varchar(36) NOT NULL,
 `Title` varchar(255) NULL,
 `UserComment` text NOT NULL,
 `UserName` varchar(50) NOT NULL,
 `UserEmail` varchar(100) NOT NULL,
 `UserUrl` varchar(255) NULL,
 `UserIp` varchar(50) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `ModerationStatus` integer NOT NULL,
 `ModeratedBy` varchar(36) NOT NULL,
 `ModerationReason` varchar(255) NULL
);

CREATE TABLE `mp_ContentMeta` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Name` varchar(255) NOT NULL,
 `Scheme` varchar(255) NOT NULL,
 `LangCode` varchar(10) NULL,
 `Dir` varchar(3) NULL,
 `MetaContent` text NULL,
 `SortRank` INTEGER NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL
);
	
CREATE TABLE `mp_ContentMetaLink` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ContentGuid` varchar(36) NOT NULL,
 `Rel` varchar(255) NOT NULL,
 `Href` varchar(255) NOT NULL,
 `HrefLang` varchar(10) NULL,
 `Rev` varchar(50) NULL,
 `Type` varchar(50) NULL,
 `Media` varchar(50) NULL,
 `SortRank` INTEGER NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `LastModUtc` datetime NOT NULL,
 `LastModBy` varchar(36) NOT NULL
);

CREATE TABLE `mp_Tag` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `Tag` varchar(255) NOT NULL,
 `CreatedUtc` datetime NOT NULL,
 `CreatedBy` varchar(36) NOT NULL,
 `ModifiedUtc` datetime NOT NULL,
 `ModifiedBy` varchar(36) NOT NULL,
 `ItemCount` INTEGER NOT NULL,
 `VocabularyGuid` varchar(36) NULL
);

CREATE TABLE `mp_TagItem` (
 `Guid` varchar(36) NOT NULL PRIMARY KEY, 
 `SiteGuid` varchar(36) NOT NULL,
 `FeatureGuid` varchar(36) NOT NULL,
 `ModuleGuid` varchar(36) NOT NULL,
 `ItemGuid` varchar(36) NOT NULL,
 `TagGuid` varchar(36) NOT NULL,
 `ExtraGuid` varchar(36) NOT NULL,
 `TaggedBy` varchar(36) NOT NULL
);

