@charset "UTF-8";
@import "bs4";
@import "jquery-smartmenu-bootstrap";
@import "font-awesome";

html {
    position: relative;
    min-height: 100%;
}

body {
    min-height: 100vh;
    padding-top: 142px;
}

#newPostLink {
    position: absolute;
    top: 170px;
    right: 0px;
}

#editPostLink {
    position: absolute;
    top: 200px;
    right: 0px;
}

#unpublishPostLink {
    position: absolute;
    top: 230px!important;
    right: 0px!important;
}

#pageManagerLink {
    position: absolute;
    top: 170px;
    right: 0px;
}

#newPageLink {
    position: absolute;
    top: 200px;
    right: 0px;
}

#editPageLink {
    position: absolute;
    top: 230px;
    right: 0px
}

#unpublishPageLink {
    position: absolute;
    top: 260px!important;
    right: 0px!important
}

#sidenavtoggle {
    position: absolute;
    top: 220px;
    right: 5px;
}

@media screen and (max-width: 812px) {
    #sidenavtoggle,
    #sidenavmenu {
        display: none;
    }
}

.flex-fill {
    flex: 1 1 auto !important;
}

img, video, iframe {
    max-width: 100%;
}

td img, video, iframe {
    max-width: none;
}

.table td, .table th {
    vertical-align: inherit;
}

.brand-header {
    height:100px;
}

.navbar {
    top: 100px;
}
