@model cloudscribe.Core.Web.ViewModels.SiteSettings.SiteBasicSettingsViewModel
@using cloudscribe.Web.Navigation
<div class="row">
    <div class="col-md-10 col-md-push-2">
        <h2>@ViewBag.Title</h2>
        @{await Html.RenderPartialAsync("_BasicSettingsPartial", Model); }
    </div>
    <div class="col-md-2 col-md-pull-10">
        @await Component.InvokeAsync("Navigation", new { viewName = "SideNavAlt1", filterName = NamedNavigationFilters.ParentTree, startingNodeKey = "SiteAdmin" })
    </div>
</div>
@section scripts {
@{ await Html.RenderPartialAsync("_SideMenuScriptsPartial"); }
@{ await Html.RenderPartialAsync("_UnobtrusiveValidationScriptsPartial"); }
@{ await Html.RenderPartialAsync("_UnobtrusiveEditorScriptsPartial"); }
}
