<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
  <title>cloudscribe Setup</title>
  <link  rel="stylesheet" href="/css/setup.css" type="text/css"  />
</head>
<body>
	
  <h1>Welcome to cloudscribe Setup</h1>
<!-- tags excluded on purpose so that installation feedback messages are displayed
</body>
</html>
-->
