@using cloudscribe.Core.Web.Navigation
@using cloudscribe.Core.Models

@model cloudscribe.Core.Web.Navigation.SiteMenuViewModel

@*


*@
@{
// ViewBag.Title = "Home Page";
}

@if (Model.RootNode.Children.Count > 0)
{
    @:<ul class="menu">
    foreach (var node in Model.RootNode.Children)
    {

        @:<li><a href="@Url.Content(node.Value.ResolveUrl())">@node.Value.Text</a></li>

    
       
    }
    @:</ul>
}

