<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="bootstrapper-version" value="1.0.0-beta6" />
    <!--
    <add key="runtime-path" value="C:\Users\Joe\.dnx\runtimes" />
    -->
    
    <add key="dnx-version" value="1.0.0-beta6" />
    <add key="dnx-clr" value="coreclr" />
    <!--
    <add key="dnx-app-base" value="..\approot\packages\cloudscribe.WebHost\1.0.0\root" />
    -->
  </appSettings>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>
