@model SiteContext
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Privacy Policy"];
}
<h2>@ViewData["Title"]</h2>
@if(string.IsNullOrWhiteSpace(Model.PrivacyPolicy))
{
    @sr["This site has not yet defined a privacy policy"]
}
else
{
    @Html.Raw(Model.PrivacyPolicy)
}
