@using cloudscribe.Core.Models
@inject SiteContext Site
@model string 

@{
    Layout = "_LayoutEmailNotification";
    ViewData["Title"] = "Password Reset";
}

A password reset has been requested for your account at @Site.SiteName.<br /> 
If you did not request a password reset, you can ignore this message, otherwise please <a href="@Model">click here to reset your password</a>.
