
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr


<h2>@ViewData["Title"]</h2>

<p>
    @sr["Access Denied"]
</p>

