@model cloudscribe.Core.Web.ViewModels.SiteUser.PendingNotificationViewModel
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = sr["Please Confirm Email Address"];
}
<h2>@ViewData["Title"]</h2>
<p>
    @sr["Before you can Log in, we need to confirm that the email address you provided is valid. We sent an email to the address you provided with a link that you need to click in order to confirm your email address is valid."]
</p>
@if (!Model.DidSend)
{
    <form asp-controller="Account" asp-action="VerifyEmail" method="post" class="form-horizontal" role="form">
        <input name="userGuid" value="@Model.UserId" type="hidden" />
        <div class="form-group">
            <button name="submit" type="submit" class="btn btn-default">@sr["Re-Send Verification Email"]</button>
        </div>
    </form>
}
