

CREATE TABLE MP_CONTENTRATING
(
  ROWGUID Varchar(36) NOT NULL,
  SITEGUID Varchar(36) NOT NULL,
  CONTENTGUID Varchar(36) NOT NULL,
  USERGUID Varchar(36) NOT NULL,
  EMAILADDRESS Varchar(100),
  RATING Integer NOT NULL,
  COMMENTS Blob sub_type 1,
  IPADDRESS Varchar(50),
  CREATEDUTC Timestamp NOT NULL,
  LASTMODUTC Timestamp NOT NULL,
  PRIMARY KEY (ROWGUID)
);


CREATE TABLE MP_MODULEDEFINITIONS
(
  MODULEDEFID Integer NOT NULL,
  FEATURENAME Varchar(255) NOT NULL,
  CONTROLSRC Varchar(255) NOT NULL,
  SORTORDER Integer NOT NULL,
  ISADMIN Smallint NOT NULL,
  ICON Varchar(255),
  DEFAULTCACHETIME Integer NOT NULL,
  GUID Varchar(36) NOT NULL,
  RESOURCEFILE Varchar(255),
  ISCACHEABLE integer,
  ISSEARCHABLE integer,
  SEARCHLISTNAME varchar(255),
  SUPPORTSPAGEREUSE integer,
  DELETEPROVIDER varchar(255),
  PARTIALVIEW varchar(255),
  PRIMARY KEY (MODULEDEFID)
);

CREATE TABLE MP_MODULEDEFINITIONSETTINGS
(
  ID Integer NOT NULL,
  MODULEDEFID Integer NOT NULL,
  SETTINGNAME Varchar(50) NOT NULL,
  SETTINGVALUE Varchar(255) NOT NULL,
  CONTROLTYPE Varchar(50),
  REGEXVALIDATIONEXPRESSION Blob sub_type 1,
  FEATUREGUID Varchar(36) NOT NULL,
  RESOURCEFILE Varchar(255),
  CONTROLSRC Varchar(255),
  HELPKEY Varchar(255),
  SORTORDER Integer,
  GROUPNAME varchar(255),
  PRIMARY KEY (ID)
);

CREATE TABLE MP_MODULES
(
  MODULEID Integer NOT NULL,
  SITEID Integer,
  MODULEDEFID Integer NOT NULL,
  MODULETITLE Varchar(255),
  AUTHORIZEDEDITROLES Blob sub_type 1,
  CACHETIME Integer NOT NULL,
  SHOWTITLE Smallint,
  EDITUSERID Integer NOT NULL,
  AVAILABLEFORMYPAGE Smallint NOT NULL,
  ALLOWMULTIPLEINSTANCESONMYPAGE Smallint NOT NULL,
  ICON Varchar(255),
  CREATEDBYUSERID Integer,
  CREATEDDATE Timestamp,
  COUNTOFUSEONMYPAGE Integer NOT NULL,
  GUID Varchar(36),
  FEATUREGUID Varchar(36),
  SITEGUID Varchar(36),
  EDITUSERGUID Varchar(36),
  HIDEFROMAUTH Smallint,
  HIDEFROMUNAUTH Smallint,
  VIEWROLES blob sub_type 1,
  DRAFTEDITROLES blob sub_type 1,
  INCLUDEINSEARCH integer,
  ISGLOBAL integer,
  HEADELEMENT varchar(25),
  PUBLISHMODE integer,
  DRAFTAPPROVALROLES blob sub_type 1,
  PRIMARY KEY (MODULEID)
);

CREATE TABLE MP_MODULESETTINGS
(
  ID Integer NOT NULL,
  MODULEID Integer NOT NULL,
  SETTINGNAME Varchar(50) NOT NULL,
  SETTINGVALUE Varchar(255) NOT NULL,
  CONTROLTYPE Varchar(50),
  REGEXVALIDATIONEXPRESSION Blob sub_type 1,
  MODULEGUID Varchar(36),
  SETTINGGUID Varchar(36),
  CONTROLSRC Varchar(255),
  HELPKEY Varchar(255),
  SORTORDER Integer,
  PRIMARY KEY (ID)
);

CREATE TABLE MP_PAGEMODULES
(
  PAGEID Integer NOT NULL,
  MODULEID Integer NOT NULL,
  PANENAME Varchar(50) NOT NULL,
  MODULEORDER Integer NOT NULL,
  PUBLISHBEGINDATE Timestamp NOT NULL,
  PUBLISHENDDATE Timestamp,
  MODULEGUID Varchar(36),
  PAGEGUID Varchar(36),
  PRIMARY KEY (PAGEID,MODULEID)
);

CREATE TABLE MP_PAGES
(
  PAGEID Integer NOT NULL,
  PARENTID Integer,
  PAGEORDER Integer NOT NULL,
  SITEID Integer NOT NULL,
  PAGENAME Varchar(50) NOT NULL,
  PAGETITLE Varchar(255),
  AUTHORIZEDROLES Blob sub_type 1,
  EDITROLES Blob sub_type 1,
  CREATECHILDPAGEROLES Blob sub_type 1,
  REQUIRESSL Smallint NOT NULL,
  ALLOWBROWSERCACHE Smallint NOT NULL,
  SHOWBREADCRUMBS Smallint NOT NULL,
  PAGEKEYWORDS Varchar(255),
  PAGEDESCRIPTION Varchar(255),
  PAGEENCODING Varchar(255),
  ADDITIONALMETATAGS Varchar(255),
  MENUIMAGE Varchar(50),
  USEURL Smallint NOT NULL,
  URL Varchar(255),
  OPENINNEWWINDOW Smallint NOT NULL,
  SHOWCHILDPAGEMENU Smallint NOT NULL,
  SHOWCHILDBREADCRUMBS Smallint NOT NULL,
  SKIN Varchar(100),
  HIDEMAINMENU Smallint NOT NULL,
  INCLUDEINMENU Smallint NOT NULL,
  CHANGEFREQUENCY Varchar(20),
  SITEMAPPRIORITY Varchar(10),
  LASTMODIFIEDUTC Timestamp,
  PAGEGUID Char(36),
  PARENTGUID Char(36),
  HIDEAFTERLOGIN Smallint,
  SITEGUID Varchar(36),
  COMPILEDMETA Blob sub_type 1,
  COMPILEDMETAUTC Timestamp,
  INCLUDEINSITEMAP integer,
  ISCLICKABLE integer,
  SHOWHOMECRUMB integer,
  DRAFTEDITROLES blob sub_type 1,
  ISPENDING integer,
  CANONICALOVERRIDE varchar(255),
  INCLUDEINSEARCHMAP smallint,
  ENABLECOMMENTS integer,
  CREATECHILDDRAFTROLES blob sub_type 1,
  INCLUDEINCHILDSITEMAP integer,
  PUBTEAMID char(36),
  BODYCSSCLASS varchar(50),
  MENUCSSCLASS varchar(50),
  EXPANDONSITEMAP integer,
  PUBLISHMODE integer,
  PCREATEDUTC timestamp,
  PCREATEDBY char(36),
  PCREATEDFROMIP varchar(36),
  PLASTMODUTC timestamp,
  PLASTMODBY char(36),
  PLASTMODFROMIP varchar(36),
  MENUDESC blob sub_type 1,
  DRAFTAPPROVALROLES blob sub_type 1,
  SHOWPAGEHEADING integer DEFAULT 1,
  PAGEHEADING varchar(255),
  LINKREL varchar(20),
  PUBDATEUTC timestamp,
  PRIMARY KEY (PAGEID)
);


CREATE TABLE MP_SITEMODULEDEFINITIONS
(
  SITEID Integer NOT NULL,
  MODULEDEFID Integer NOT NULL,
  AUTHORIZEDROLES Blob sub_type 1,
  SITEGUID Varchar(36),
  FEATUREGUID Varchar(36),
  PRIMARY KEY (SITEID,MODULEDEFID)
);


CREATE TABLE MP_CATEGORY
(
  GUID varchar(36) NOT NULL,
  PARENTGUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  FEATUREGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  CATEGORY varchar(255) NOT NULL,
  DESCRIPTION blob sub_type 1,
  ITEMCOUNT integer NOT NULL,
  CREATEDUTC timestamp NOT NULL,
  CREATEDBY varchar(36) NOT NULL,
  MODIFIEDUTC timestamp NOT NULL,
  MODIFIEDBY varchar(36) NOT NULL,
  CONSTRAINT INTEG_596 PRIMARY KEY (GUID)
);

CREATE INDEX IXCATEGORYFEATUREGUID ON MP_CATEGORY (FEATUREGUID);
CREATE INDEX IXCATEGORYSITEGUID ON MP_CATEGORY (SITEGUID);
CREATE INDEX IXTCATEGORYMODULEGUID ON MP_CATEGORY (MODULEGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CATEGORY TO  SYSDBA WITH GRANT OPTION;
 
CREATE TABLE MP_CATEGORYITEM
(
  GUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  FEATUREGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  ITEMGUID varchar(36) NOT NULL,
  CATEGORYGUID varchar(36) NOT NULL,
  EXTRAGUID varchar(36) NOT NULL,
  CONSTRAINT INTEG_604 PRIMARY KEY (GUID)
);

CREATE INDEX IXCATITEMCATGUID ON MP_CATEGORYITEM (CATEGORYGUID);
CREATE INDEX IXCATITEMEXTRAGUID ON MP_CATEGORYITEM (EXTRAGUID);
CREATE INDEX IXCATITEMFEATUREGUID ON MP_CATEGORYITEM (FEATUREGUID);
CREATE INDEX IXCATITEMITEMGUID ON MP_CATEGORYITEM (ITEMGUID);
CREATE INDEX IXCATITEMMODULEGUID ON MP_CATEGORYITEM (MODULEGUID);
CREATE INDEX IXCATITEMSITEGUID ON MP_CATEGORYITEM (SITEGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CATEGORYITEM TO  SYSDBA WITH GRANT OPTION;
 
 
CREATE TABLE MP_COMMENTS
(
  GUID varchar(36) NOT NULL,
  PARENTGUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  FEATUREGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  CONTENTGUID varchar(36) NOT NULL,
  USERGUID varchar(36) NOT NULL,
  TITLE varchar(255),
  USERCOMMENT blob sub_type 1 NOT NULL,
  USERNAME varchar(50) NOT NULL,
  USEREMAIL varchar(100) NOT NULL,
  USERURL varchar(255),
  USERIP varchar(50) NOT NULL,
  CREATEDUTC timestamp NOT NULL,
  LASTMODUTC timestamp NOT NULL,
  MODERATIONSTATUS smallint NOT NULL,
  MODERATEDBY varchar(36) NOT NULL,
  MODERATIONREASON varchar(255),
  CONSTRAINT INTEG_637 PRIMARY KEY (GUID)
);

CREATE INDEX IXCOMMENTCOMMENTGUID ON MP_COMMENTS (CONTENTGUID);
CREATE INDEX IXCOMMENTFEATUREGUID ON MP_COMMENTS (FEATUREGUID);
CREATE INDEX IXCOMMENTMODULEGUID ON MP_COMMENTS (MODULEGUID);
CREATE INDEX IXCOMMENTSITEGUID ON MP_COMMENTS (SITEGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_COMMENTS TO  SYSDBA WITH GRANT OPTION;
 
 CREATE TABLE MP_CONTENTHISTORY
(
  GUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  USERGUID varchar(36) NOT NULL,
  CONTENTGUID varchar(36) NOT NULL,
  TITLE varchar(255),
  CONTENTTEXT blob sub_type 1 NOT NULL,
  CUSTOMDATA blob sub_type 1,
  CREATEDUTC timestamp NOT NULL,
  HISTORYUTC timestamp NOT NULL,
  CONSTRAINT INTEG_471 PRIMARY KEY (GUID)
);

GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CONTENTHISTORY TO  SYSDBA WITH GRANT OPTION;

 
CREATE TABLE MP_CONTENTMETA
(
  GUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  CONTENTGUID varchar(36) NOT NULL,
  NAME varchar(255) NOT NULL,
  SCHEME varchar(255) NOT NULL,
  LANGCODE varchar(10),
  DIR varchar(3),
  METACONTENT blob sub_type 1,
  SORTRANK integer NOT NULL,
  CREATEDUTC timestamp NOT NULL,
  CREATEDBY varchar(36) NOT NULL,
  LASTMODUTC timestamp NOT NULL,
  LASTMODBY varchar(36) NOT NULL,
  CONSTRAINT INTEG_538 PRIMARY KEY (GUID)
);

CREATE INDEX IDXCMETACGUID ON MP_CONTENTMETA (CONTENTGUID);
CREATE INDEX IDXCMETAMODGUID ON MP_CONTENTMETA (MODULEGUID);
CREATE INDEX IDXCMETASITEGUID ON MP_CONTENTMETA (SITEGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CONTENTMETA TO  SYSDBA WITH GRANT OPTION;
 
CREATE TABLE MP_CONTENTMETALINK
(
  GUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  CONTENTGUID varchar(36) NOT NULL,
  REL varchar(255) NOT NULL,
  HREF varchar(255) NOT NULL,
  HREFLANG varchar(10),
  REV varchar(50),
  "TYPE" varchar(50),
  MEDIA varchar(50),
  SORTRANK integer NOT NULL,
  CREATEDUTC timestamp NOT NULL,
  CREATEDBY varchar(36) NOT NULL,
  LASTMODUTC timestamp NOT NULL,
  LASTMODBY varchar(36) NOT NULL,
  CONSTRAINT INTEG_550 PRIMARY KEY (GUID)
);

CREATE INDEX IDXCMETALCGUID ON MP_CONTENTMETALINK (CONTENTGUID);
CREATE INDEX IDXCMETALMODGUID ON MP_CONTENTMETALINK (MODULEGUID);
CREATE INDEX IDXCMETALSITEGUID ON MP_CONTENTMETALINK (SITEGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_CONTENTMETALINK TO  SYSDBA WITH GRANT OPTION;
 
CREATE TABLE MP_TAG
(
  GUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  FEATUREGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  TAG varchar(255) NOT NULL,
  CREATEDUTC timestamp NOT NULL,
  CREATEDBY varchar(36) NOT NULL,
  MODIFIEDUTC timestamp NOT NULL,
  MODIFIEDBY varchar(36) NOT NULL,
  ITEMCOUNT integer NOT NULL,
  VOCABULARYGUID char(36),
  CONSTRAINT INTEG_575 PRIMARY KEY (GUID)
);

CREATE INDEX IXTAGFEATUREGUID ON MP_TAG (FEATUREGUID);
CREATE INDEX IXTAGMODULEGUID ON MP_TAG (MODULEGUID);
CREATE INDEX IXTAGSITEGUID ON MP_TAG (SITEGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_TAG TO  SYSDBA WITH GRANT OPTION;
 
CREATE TABLE MP_TAGITEM
(
  GUID varchar(36) NOT NULL,
  SITEGUID varchar(36) NOT NULL,
  FEATUREGUID varchar(36) NOT NULL,
  MODULEGUID varchar(36) NOT NULL,
  ITEMGUID varchar(36) NOT NULL,
  TAGGUID varchar(36) NOT NULL,
  EXTRAGUID varchar(36) NOT NULL,
  TAGGEDBY varchar(36) NOT NULL,
  CONSTRAINT INTEG_584 PRIMARY KEY (GUID)
);

CREATE INDEX IXTAGITEMEXTRAGUID ON MP_TAGITEM (EXTRAGUID);
CREATE INDEX IXTAGITEMFEATUREGUID ON MP_TAGITEM (FEATUREGUID);
CREATE INDEX IXTAGITEMITEMGUID ON MP_TAGITEM (ITEMGUID);
CREATE INDEX IXTAGITEMMODULEGUID ON MP_TAGITEM (MODULEGUID);
CREATE INDEX IXTAGITEMSITEGUID ON MP_TAGITEM (SITEGUID);
CREATE INDEX IXTAGITEMTAGGUID ON MP_TAGITEM (TAGGUID);
GRANT DELETE, INSERT, REFERENCES, SELECT, UPDATE
 ON MP_TAGITEM TO  SYSDBA WITH GRANT OPTION;
