@model string
@using cloudscribe.Core.Web
@using System.Globalization
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
@{
    ViewData["Title"] = @sr["Login Failure"];
    ViewData["BodyClass"] = "account-section external-fail";
}

<hgroup>
    <h2>@ViewData["Title"]</h2>
    <h3 class="text-danger">@sr["Unsuccessful login with service."]</h3>
</hgroup>
@if (!string.IsNullOrWhiteSpace(Model))
{
    @Model
}
