@model cloudscribe.Core.Web.ViewModels.Account.RegisterViewModel
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<div class="form-group">
	<div class="col-md-12 agreementcontainer">
		@Html.Raw(Model.RegistrationAgreement)
	</div>
</div>
<div class="form-group">
	<div class="col-md-offset-2 col-md-10">
		<input type="hidden" asp-for="AgreementRequired" />
		<div class="checkbox">
			<label asp-for="AgreeToTerms">
                <input asp-for="AgreeToTerms" data-val-enforcetrue='@sr["You must agree to the terms."]' /> @sr["I Agree to these terms of use."]
            </label>
		</div>
        <span asp-validation-for="AgreeToTerms" class="text-danger"></span>
        @Html.ValidationMessage("agreementerror", new { @class = "text-danger" })
	</div>
</div>
