/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*
input,
select,
textarea {
    max-width: 280px;
}
*/

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* buttons and links extension to use brackets: [ click me ] */
.btn-bracketed::before {
    display:inline-block;
    content: "[";
    padding-right: 0.5em;
}
.btn-bracketed::after {
    display:inline-block;
    content: "]";
    padding-left: 0.5em;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}

ul.breadcrumb {margin-bottom:0;}

h2.logitem { font-size: 1.1em;  }

.agreementcontainer { overflow:auto; border:1px solid #CCC; height:300px; }

.navbar { min-height:50px; }

div.navbar-gravatar { margin: 10px 0 0 0; }
    
.navbar-text img {
  max-height:30px;
  width:auto;
  vertical-align:middle;
  padding:0;
  margin:0;
}


.no-gutter {
    padding-right: 0;
    padding-left: 0;
}

.tiny-gutter {
    padding-right: 5px;
    padding-left: 5px;
}





/*

.sidebar .sidebar-search {
    padding: 15px;
}

.sidebar ul li {
    border-bottom: 1px solid #e7e7e7;
}

.sidebar ul li a.active {
    background-color: #eee;
}


.sidebar .arrow {
    float: right;
}

.sidebar .fa.arrow:before {
    content: "\f104";
}

.sidebar .active>a>.fa.arrow:before {
    content: "\f107";
}

.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
    border-bottom: 0!important;
}

.sidebar .nav-second-level li a {
    padding-left: 37px;
}

.sidebar .nav-third-level li a {
    padding-left: 52px;
}

    */




/*
@media(min-width:768px) {
    .sidebar {
        z-index: 1;
        position: absolute;
       
    }
    .sidebar-nav.navbar-collapse { padding: 0 0 0 0;}
}
*/


    
/*
    
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}
*/


