ALTER PROCEDURE [dbo].[mp_Sites_Delete]

/*
Author:   			Joe Audette
Created: 			2005-03-07
Last Modified: 		2015-01-16

*/

@SiteID int

AS



DELETE FROM mp_UserProperties
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserRoles
WHERE UserID IN (SELECT UserID FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_UserLocation 
WHERE UserGuid IN (SELECT UserGuid FROM mp_Users WHERE SiteID = @SiteID)

DELETE FROM mp_Users WHERE SiteID = @SiteID

DELETE FROM mp_Roles WHERE SiteID = @SiteID

DELETE FROM mp_SiteHosts WHERE SiteID = @SiteID

DELETE FROM mp_SiteSettingsEx WHERE SiteID = @SiteID

DELETE FROM mp_SiteFolders
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_RedirectList
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM mp_TaskQueue
WHERE SiteGuid IN (SELECT SiteGuid FROM mp_Sites WHERE SiteID = @SiteID)

DELETE FROM [dbo].[mp_Sites]
WHERE
	[SiteID] = @SiteID

GO

