@model cloudscribe.Core.Web.ViewModels.RoleAdmin.RoleListViewModel
@using cloudscribe.Web.Navigation
@using cloudscribe.Web.Pagination
@addTagHelper "*, cloudscribe.Web.Pagination"
@using cloudscribe.Core.Models
@using cloudscribe.Core.Web
@using Microsoft.Extensions.Options
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<CloudscribeCore> sr
<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h2 class="modal-title" id="myModalLabel">@sr["Select Roles"]</h2>
        </div>
        <div class="modal-body">
            <div id="gridcontainer">
                @{await Html.RenderPartialAsync("ModalListPartial", Model); }
            </div>
        </div>
        <div class="modal-footer">
            <input id="selectedcsv" type="hidden" value="" />
            <button type="button" class="btn btn-default" data-dismiss="modal">@sr["Close"]</button>
        </div>
    </div>
</div>
