@using cloudscribe.Core.Web.Navigation
@using cloudscribe.Core.Models

@model NavigationViewModel

@*


*@
@{
// ViewBag.Title = "Home Page";
}

@if (Model.CurrentNode != null && Model.ParentChain.Count > 1)
{
    @:<ul class="breadcrumb">
    foreach (var node in Model.ParentChain)
    {
        if (node.EqualsNode(Model.CurrentNode))
        {
            @:
            <li class="active">@node.Value.Text</li>
        }
        else
        {
            @:
            <li><a href="@Url.Content(node.Value.Url)">@node.Value.Text</a><span class="divider"></span></li>
        }

    }
    @:</ul>
}
